.emd-row,.emd-row:after{clear:both}.emd-site-content{clear:both;width:90%;font-size:16px;font-size:1rem;max-width:1200px;margin:0 auto;padding:2rem 0;color:#333;line-height:1.5;position:relative}.col{display:block;float:left;margin:0 0 0 1.6%}.col:first-child{margin-left:0}.emd-row{margin:0 auto}.emd-row:after,.emd-row:before{content:"";display:table}.grid_12_of_12{width:100%}.grid_11_of_12{width:91.53%}.grid_10_of_12{width:83.06%}.grid_9_of_12{width:74.6%}.grid_8_of_12{width:66.13%}.grid_7_of_12{width:57.66%}.grid_6_of_12{width:49.2%}.grid_5_of_12{width:40.73%}.grid_4_of_12{width:32.26%}.grid_3_of_12{width:23.8%}.grid_2_of_12{width:15.33%}.grid_1_of_12{width:6.866%} .assistive-text {
clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px);
position: absolute !important;
}
.page-links {
clear: both;
line-height: 1.75;
color: #333;
}
.page-links .page-numbers {
background-color: #333;
border: 1px solid #333;
padding: 2px 4px;
padding: 0.125rem 0.25rem;
color: #fff;
}
.page-links a {
text-decoration: none;
}
.page-links a .page-numbers {
background-color: transparent;
color: #333;
}
.page-links a:hover .page-numbers {
background-color: #2997ab;
color: #fff;
}
ul.page-numbers {
padding: 0;
margin: 0;
text-align: center;
line-height: 2;
}
li a.page-numbers,
li span.page-numbers {
padding: 5px;
padding: 0.3125rem;
text-decoration: none;
}
li a:visited.page-numbers {
color: #333;
}
li a:hover.page-numbers {
background-color: #2997ab;
color: #fff;
}
li a:hover.prev,
li a:hover.next {
background-color: transparent;
color: #2997ab;
}
.page-numbers li {
display: inline;
}
li span.current {
background-color: #333;
color: #fff;
}
li a.prev,
li a.next,
li span.dots {
border: none;
}.disqus_rcw_author_name {
position: relative;
top: -15px;
display: inline-block;
}
.disqus_rcw_single_comment_wrapper {
margin-bottom: 15px;
}
.disqus_rcw_avatar {
width: 35px;
}
.disqus_rcw_thread_title {
font-weight: bold;
text-decoration: none;
}
.disqus_rcw_thread_title:hover {
text-decoration: underline;
}
.disqus_rcw_comment_actual_wrapper {
font-style: italic;
}
.disqus_rcw_clear {
clear: both;
} .disqus_rcw_author_wrapper {
margin-bottom: 7px;
}
img.disqus_rcw_avatar_html5 {
float: left;
width: 35px;
margin-right: 7px;
}
div.disqus_rcw_author {
float: left;
}
.disqus_rcw_post_time_html5 {
font-size: 75%;
}
ul.disqus_rcw_comments_list li {
list-style-type: none;
font-size:13px;
text-decoration: none;
line-height:20px;
border-style: solid;
border-width: 1px;
border-color: #dddddd;
padding: 5px;
margin:5px;
}
.disqus_rcw_message {
text-decoration: none;
font-weight:normal;
font-color: #444444;
}
.disqus_rcw_message:hover {
text-decoration: underline;
}
span.judulkomen
{
padding-left:10px;
}div.emd-container #accordion .relblock{background-color:#fff;border:1px solid #bce8f1;border-radius:4px;margin:4px;padding:4px}div.emd-container .segment-block{padding:5px}div.emd-container .segment-block:hover{background-color:#f5f5f5;font-weight:700}div.emd-container .wpastabcontent{min-height:400px;padding-top:15px}div.emd-container .rcolheader,div.emd-container .colheader{padding-right:40px}div.emd-container .segment-block .btn-group button{padding:0 !important}div.emd-container .segtitle{color:#708192}div.emd-container #accordion .segvalue,div.emd-container .wpastabcontent .segvalue a{display:inline-block;padding:0}div.emd-container .relblock{display:inline-block}div.emd-container .progress-bar a{color:#FFF}div.emd-container #accordion .btn-group{border:0 none}div.emd-container div[data-has-attrib="false"] .data-is-attrib{display:none !important;visibility:hidden !important}div.emd-container .segvalue .btn span{font-size:85%;padding:4px}div.emd-container .social li,div.emd-container .dropdown-menu li{margin:0}div.emd-container .img-responsive img{border-radius:50%;vertical-align:middle}div.emd-container .table img{border-radius:50%;vertical-align:middle;width:60px;margin-left:15%}div.emd-container .nav-tabs>li{margin-left:0}div.emd-container .footer-object-value a{background-color:#777;border-radius:10px;color:#fff;display:inline-block;font-size:10px;font-weight:bold;line-height:1;min-width:10px;padding:3px 7px;text-align:center;vertical-align:baseline;white-space:nowrap;border-color:#46b8da;-moz-user-select:none;background-image:none;text-decoration:none;cursor:pointer;margin-bottom:0}div.emd-container .footer-object-value a:hover,div.emd-container .footer-object-value a:focus{background-color:#31b0d5;border-color:#269abc;color:#fff;text-decoration:none}div.emd-container .label-info{background-color:#5bc0de}div.emd-container .label{border-radius:.25em;color:#fff;display:inline;font-size:75%;font-weight:bold;line-height:1;padding:.2em .6em .3em;text-align:center;vertical-align:baseline;white-space:nowrap}div.text-center>strong{display:block;white-space:nowrap}div.emd-container a{text-decoration:none}div.emd-container .opr ul.dropdown-menu li{width:100%}div.emd-container .footer-segment-block{margin-bottom:5px}div.fixed-table-pagination .pagination-detail{font-size:11px !important;line-height:normal}div.emd-container .panel-title a{text-decoration:none;display:block;padding:10px 15px;margin:-10px -15px}div.emd-container .panel-heading .accor-title-link:after{content:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAUCAYAAABWMrcvAAAAbUlEQVQ4jd3PwRGAIAxE0V8CJVgCpVgCnVmSdgId4CUyzIqAR91jsi8zgf9mBfyg460HgAMSEDvQ2z7p8AnW4Ha0BbtgacAgwFW98tMmMAvY7UhJsFINDwHZevQgI9CCU0BhnAUKp8GV5S34ck5ePC0VyTuWGgAAAABJRU5ErkJggg==);position:absolute;top:15px;right:15px}div.emd-container .panel-heading{position:relative}div.emd-container .panel-heading .accor-title-link.collapsed:after{position:absolute;top:15px;right:15px;content:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUCAYAAABbLMdoAAAAZklEQVQokeWPwQ2AIBAEpwRKsARKoQRKoBPtQDvQTixFO8DPkpyCb0nc100yC1n4QSIwGvbACriWPAEZmMVBvL8Vlkchfl/YJCRxMoVbPHAAp24nKeuXHsQyqIh2UCWil4bG0F5zAagPLf+uUSbsAAAAAElFTkSuQmCC)}
@-ms-viewport{width:device-width}div.emd-container .visible-xs,div.emd-container .visible-sm,div.emd-container .visible-md,div.emd-container .visible-lg{display:none!important}div.emd-container .visible-xs-block,div.emd-container .visible-xs-inline,div.emd-container .visible-xs-inline-block,div.emd-container .visible-sm-block,div.emd-container .visible-sm-inline,div.emd-container .visible-sm-inline-block,div.emd-container .visible-md-block,div.emd-container .visible-md-inline,div.emd-container .visible-md-inline-block,div.emd-container .visible-lg-block,div.emd-container .visible-lg-inline,div.emd-container .visible-lg-inline-block{display:none!important}@media(max-width:767px){div.emd-container .visible-xs{display:block!important}tablediv.emd-container .visible-xs{display:table}trdiv.emd-container .visible-xs{display:table-row!important}thdiv.emd-container .visible-xs,tddiv.emd-container .visible-xs{display:table-cell!important}}@media(max-width:767px){div.emd-container .visible-xs-block{display:block!important}}@media(max-width:767px){div.emd-container .visible-xs-inline{display:inline!important}}@media(max-width:767px){div.emd-container .visible-xs-inline-block{display:inline-block!important}}@media(min-width:768px) and (max-width:991px){div.emd-container .visible-sm{display:block!important}tablediv.emd-container .visible-sm{display:table}trdiv.emd-container .visible-sm{display:table-row!important}thdiv.emd-container .visible-sm,tddiv.emd-container .visible-sm{display:table-cell!important}}@media(min-width:768px) and (max-width:991px){div.emd-container .visible-sm-block{display:block!important}}@media(min-width:768px) and (max-width:991px){div.emd-container .visible-sm-inline{display:inline!important}}@media(min-width:768px) and (max-width:991px){div.emd-container .visible-sm-inline-block{display:inline-block!important}}@media(min-width:992px) and (max-width:1199px){div.emd-container .visible-md{display:block!important}tablediv.emd-container .visible-md{display:table}trdiv.emd-container .visible-md{display:table-row!important}thdiv.emd-container .visible-md,tddiv.emd-container .visible-md{display:table-cell!important}}@media(min-width:992px) and (max-width:1199px){div.emd-container .visible-md-block{display:block!important}}@media(min-width:992px) and (max-width:1199px){div.emd-container .visible-md-inline{display:inline!important}}@media(min-width:992px) and (max-width:1199px){div.emd-container .visible-md-inline-block{display:inline-block!important}}@media(min-width:1200px){div.emd-container .visible-lg{display:block!important}tablediv.emd-container .visible-lg{display:table}trdiv.emd-container .visible-lg{display:table-row!important}thdiv.emd-container .visible-lg,tddiv.emd-container .visible-lg{display:table-cell!important}}@media(min-width:1200px){div.emd-container .visible-lg-block{display:block!important}}@media(min-width:1200px){div.emd-container .visible-lg-inline{display:inline!important}}@media(min-width:1200px){div.emd-container .visible-lg-inline-block{display:inline-block!important}}@media(max-width:767px){div.emd-container .hidden-xs{display:none!important}}@media(min-width:768px) and (max-width:991px){div.emd-container .hidden-sm{display:none!important}}@media(min-width:992px) and (max-width:1199px){div.emd-container .hidden-md{display:none!important}}@media(min-width:1200px){div.emd-container .hidden-lg{display:none!important}}div.emd-container .visible-print{display:none!important}@media print{div.emd-container .visible-print{display:block!important}tablediv.emd-container .visible-print{display:table}trdiv.emd-container .visible-print{display:table-row!important}thdiv.emd-container .visible-print,tddiv.emd-container .visible-print{display:table-cell!important}}div.emd-container .visible-print-block{display:none!important}@media print{div.emd-container .visible-print-block{display:block!important}}div.emd-container .visible-print-inline{display:none!important}@media print{div.emd-container .visible-print-inline{display:inline!important}}div.emd-container .visible-print-inline-block{display:none!important}@media print{div.emd-container .visible-print-inline-block{display:inline-block!important}}@media print{div.emd-container .hidden-print{display:none!important}}div.emd-container .container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}@media(min-width:768px){div.emd-container .container{width:750px}}@media(min-width:992px){div.emd-container .container{width:970px}}@media(min-width:1200px){div.emd-container .container{width:1170px}}div.emd-container .container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}div.emd-container .row{margin-left:-15px;margin-right:-15px}div.emd-container .col,.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px}div.emd-container .col,.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{float:left}div.emd-container .col-xs-12{width:100%}div.emd-container .col-xs-11{width:91.66666666666666%}div.emd-container .col-xs-10{width:83.33333333333334%}div.emd-container .col-xs-9{width:75%}div.emd-container .col-xs-8{width:66.66666666666666%}div.emd-container .col-xs-7{width:58.333333333333336%}div.emd-container .col-xs-6{width:50%}div.emd-container .col-xs-5{width:41.66666666666667%}div.emd-container .col-xs-4{width:33.33333333333333%}div.emd-container .col-xs-3{width:25%}div.emd-container .col-xs-2{width:16.666666666666664%}div.emd-container .col-xs-1{width:8.333333333333332%}div.emd-container .col-xs-pull-12{right:100%}div.emd-container .col-xs-pull-11{right:91.66666666666666%}div.emd-container .col-xs-pull-10{right:83.33333333333334%}div.emd-container .col-xs-pull-9{right:75%}div.emd-container .col-xs-pull-8{right:66.66666666666666%}div.emd-container .col-xs-pull-7{right:58.333333333333336%}div.emd-container .col-xs-pull-6{right:50%}div.emd-container .col-xs-pull-5{right:41.66666666666667%}div.emd-container .col-xs-pull-4{right:33.33333333333333%}div.emd-container .col-xs-pull-3{right:25%}div.emd-container .col-xs-pull-2{right:16.666666666666664%}div.emd-container .col-xs-pull-1{right:8.333333333333332%}div.emd-container .col-xs-pull-0{right:auto}div.emd-container .col-xs-push-12{left:100%}div.emd-container .col-xs-push-11{left:91.66666666666666%}div.emd-container .col-xs-push-10{left:83.33333333333334%}div.emd-container .col-xs-push-9{left:75%}div.emd-container .col-xs-push-8{left:66.66666666666666%}div.emd-container .col-xs-push-7{left:58.333333333333336%}div.emd-container .col-xs-push-6{left:50%}div.emd-container .col-xs-push-5{left:41.66666666666667%}div.emd-container .col-xs-push-4{left:33.33333333333333%}div.emd-container .col-xs-push-3{left:25%}div.emd-container .col-xs-push-2{left:16.666666666666664%}div.emd-container .col-xs-push-1{left:8.333333333333332%}div.emd-container .col-xs-push-0{left:auto}div.emd-container .col-xs-offset-12{margin-left:100%}div.emd-container .col-xs-offset-11{margin-left:91.66666666666666%}div.emd-container .col-xs-offset-10{margin-left:83.33333333333334%}div.emd-container .col-xs-offset-9{margin-left:75%}div.emd-container .col-xs-offset-8{margin-left:66.66666666666666%}div.emd-container .col-xs-offset-7{margin-left:58.333333333333336%}div.emd-container .col-xs-offset-6{margin-left:50%}div.emd-container .col-xs-offset-5{margin-left:41.66666666666667%}div.emd-container .col-xs-offset-4{margin-left:33.33333333333333%}div.emd-container .col-xs-offset-3{margin-left:25%}div.emd-container .col-xs-offset-2{margin-left:16.666666666666664%}div.emd-container .col-xs-offset-1{margin-left:8.333333333333332%}div.emd-container .col-xs-offset-0{margin-left:0}@media(min-width:768px){div.emd-container .col,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{float:left}div.emd-container .col-sm-12{width:100%}div.emd-container .col-sm-11{width:91.66666666666666%}div.emd-container .col-sm-10{width:83.33333333333334%}div.emd-container .col-sm-9{width:75%}div.emd-container .col-sm-8{width:66.66666666666666%}div.emd-container .col-sm-7{width:58.333333333333336%}div.emd-container .col-sm-6{width:50%}div.emd-container .col-sm-5{width:41.66666666666667%}div.emd-container .col-sm-4{width:33.33333333333333%}div.emd-container .col-sm-3{width:25%}div.emd-container .col-sm-2{width:16.666666666666664%}div.emd-container .col-sm-1{width:8.333333333333332%}div.emd-container .col-sm-pull-12{right:100%}div.emd-container .col-sm-pull-11{right:91.66666666666666%}div.emd-container .col-sm-pull-10{right:83.33333333333334%}div.emd-container .col-sm-pull-9{right:75%}div.emd-container .col-sm-pull-8{right:66.66666666666666%}div.emd-container .col-sm-pull-7{right:58.333333333333336%}div.emd-container .col-sm-pull-6{right:50%}div.emd-container .col-sm-pull-5{right:41.66666666666667%}div.emd-container .col-sm-pull-4{right:33.33333333333333%}div.emd-container .col-sm-pull-3{right:25%}div.emd-container .col-sm-pull-2{right:16.666666666666664%}div.emd-container .col-sm-pull-1{right:8.333333333333332%}div.emd-container .col-sm-pull-0{right:auto}div.emd-container .col-sm-push-12{left:100%}div.emd-container .col-sm-push-11{left:91.66666666666666%}div.emd-container .col-sm-push-10{left:83.33333333333334%}div.emd-container .col-sm-push-9{left:75%}div.emd-container .col-sm-push-8{left:66.66666666666666%}div.emd-container .col-sm-push-7{left:58.333333333333336%}div.emd-container .col-sm-push-6{left:50%}div.emd-container .col-sm-push-5{left:41.66666666666667%}div.emd-container .col-sm-push-4{left:33.33333333333333%}div.emd-container .col-sm-push-3{left:25%}div.emd-container .col-sm-push-2{left:16.666666666666664%}div.emd-container .col-sm-push-1{left:8.333333333333332%}div.emd-container .col-sm-push-0{left:auto}div.emd-container .col-sm-offset-12{margin-left:100%}div.emd-container .col-sm-offset-11{margin-left:91.66666666666666%}div.emd-container .col-sm-offset-10{margin-left:83.33333333333334%}div.emd-container .col-sm-offset-9{margin-left:75%}div.emd-container .col-sm-offset-8{margin-left:66.66666666666666%}div.emd-container .col-sm-offset-7{margin-left:58.333333333333336%}div.emd-container .col-sm-offset-6{margin-left:50%}div.emd-container .col-sm-offset-5{margin-left:41.66666666666667%}div.emd-container .col-sm-offset-4{margin-left:33.33333333333333%}div.emd-container .col-sm-offset-3{margin-left:25%}div.emd-container .col-sm-offset-2{margin-left:16.666666666666664%}div.emd-container .col-sm-offset-1{margin-left:8.333333333333332%}div.emd-container .col-sm-offset-0{margin-left:0}}@media(min-width:992px){div.emd-container .col,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{float:left}div.emd-container .col-md-12{width:100%}div.emd-container .col-md-11{width:91.66666666666666%}div.emd-container .col-md-10{width:83.33333333333334%}div.emd-container .col-md-9{width:75%}div.emd-container .col-md-8{width:66.66666666666666%}div.emd-container .col-md-7{width:58.333333333333336%}div.emd-container .col-md-6{width:50%}div.emd-container .col-md-5{width:41.66666666666667%}div.emd-container .col-md-4{width:33.33333333333333%}div.emd-container .col-md-3{width:25%}div.emd-container .col-md-2{width:16.666666666666664%}div.emd-container .col-md-1{width:8.333333333333332%}div.emd-container .col-md-pull-12{right:100%}div.emd-container .col-md-pull-11{right:91.66666666666666%}div.emd-container .col-md-pull-10{right:83.33333333333334%}div.emd-container .col-md-pull-9{right:75%}div.emd-container .col-md-pull-8{right:66.66666666666666%}div.emd-container .col-md-pull-7{right:58.333333333333336%}div.emd-container .col-md-pull-6{right:50%}div.emd-container .col-md-pull-5{right:41.66666666666667%}div.emd-container .col-md-pull-4{right:33.33333333333333%}div.emd-container .col-md-pull-3{right:25%}div.emd-container .col-md-pull-2{right:16.666666666666664%}div.emd-container .col-md-pull-1{right:8.333333333333332%}div.emd-container .col-md-pull-0{right:auto}div.emd-container .col-md-push-12{left:100%}div.emd-container .col-md-push-11{left:91.66666666666666%}div.emd-container .col-md-push-10{left:83.33333333333334%}div.emd-container .col-md-push-9{left:75%}div.emd-container .col-md-push-8{left:66.66666666666666%}div.emd-container .col-md-push-7{left:58.333333333333336%}div.emd-container .col-md-push-6{left:50%}div.emd-container .col-md-push-5{left:41.66666666666667%}div.emd-container .col-md-push-4{left:33.33333333333333%}div.emd-container .col-md-push-3{left:25%}div.emd-container .col-md-push-2{left:16.666666666666664%}div.emd-container .col-md-push-1{left:8.333333333333332%}div.emd-container .col-md-push-0{left:auto}div.emd-container .col-md-offset-12{margin-left:100%}div.emd-container .col-md-offset-11{margin-left:91.66666666666666%}div.emd-container .col-md-offset-10{margin-left:83.33333333333334%}div.emd-container .col-md-offset-9{margin-left:75%}div.emd-container .col-md-offset-8{margin-left:66.66666666666666%}div.emd-container .col-md-offset-7{margin-left:58.333333333333336%}div.emd-container .col-md-offset-6{margin-left:50%}div.emd-container .col-md-offset-5{margin-left:41.66666666666667%}div.emd-container .col-md-offset-4{margin-left:33.33333333333333%}div.emd-container .col-md-offset-3{margin-left:25%}div.emd-container .col-md-offset-2{margin-left:16.666666666666664%}div.emd-container .col-md-offset-1{margin-left:8.333333333333332%}div.emd-container .col-md-offset-0{margin-left:0}}@media(min-width:1200px){div.emd-container .col,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{float:left}div.emd-container .col-lg-12{width:100%}div.emd-container .col-lg-11{width:91.66666666666666%}div.emd-container .col-lg-10{width:83.33333333333334%}div.emd-container .col-lg-9{width:75%}div.emd-container .col-lg-8{width:66.66666666666666%}div.emd-container .col-lg-7{width:58.333333333333336%}div.emd-container .col-lg-6{width:50%}div.emd-container .col-lg-5{width:41.66666666666667%}div.emd-container .col-lg-4{width:33.33333333333333%}div.emd-container .col-lg-3{width:25%}div.emd-container .col-lg-2{width:16.666666666666664%}div.emd-container .col-lg-1{width:8.333333333333332%}div.emd-container .col-lg-pull-12{right:100%}div.emd-container .col-lg-pull-11{right:91.66666666666666%}div.emd-container .col-lg-pull-10{right:83.33333333333334%}div.emd-container .col-lg-pull-9{right:75%}div.emd-container .col-lg-pull-8{right:66.66666666666666%}div.emd-container .col-lg-pull-7{right:58.333333333333336%}div.emd-container .col-lg-pull-6{right:50%}div.emd-container .col-lg-pull-5{right:41.66666666666667%}div.emd-container .col-lg-pull-4{right:33.33333333333333%}div.emd-container .col-lg-pull-3{right:25%}div.emd-container .col-lg-pull-2{right:16.666666666666664%}div.emd-container .col-lg-pull-1{right:8.333333333333332%}div.emd-container .col-lg-pull-0{right:auto}div.emd-container .col-lg-push-12{left:100%}div.emd-container .col-lg-push-11{left:91.66666666666666%}div.emd-container .col-lg-push-10{left:83.33333333333334%}div.emd-container .col-lg-push-9{left:75%}div.emd-container .col-lg-push-8{left:66.66666666666666%}div.emd-container .col-lg-push-7{left:58.333333333333336%}div.emd-container .col-lg-push-6{left:50%}div.emd-container .col-lg-push-5{left:41.66666666666667%}div.emd-container .col-lg-push-4{left:33.33333333333333%}div.emd-container .col-lg-push-3{left:25%}div.emd-container .col-lg-push-2{left:16.666666666666664%}div.emd-container .col-lg-push-1{left:8.333333333333332%}div.emd-container .col-lg-push-0{left:auto}div.emd-container .col-lg-offset-12{margin-left:100%}div.emd-container .col-lg-offset-11{margin-left:91.66666666666666%}div.emd-container .col-lg-offset-10{margin-left:83.33333333333334%}div.emd-container .col-lg-offset-9{margin-left:75%}div.emd-container .col-lg-offset-8{margin-left:66.66666666666666%}div.emd-container .col-lg-offset-7{margin-left:58.333333333333336%}div.emd-container .col-lg-offset-6{margin-left:50%}div.emd-container .col-lg-offset-5{margin-left:41.66666666666667%}div.emd-container .col-lg-offset-4{margin-left:33.33333333333333%}div.emd-container .col-lg-offset-3{margin-left:25%}div.emd-container .col-lg-offset-2{margin-left:16.666666666666664%}div.emd-container .col-lg-offset-1{margin-left:8.333333333333332%}div.emd-container .col-lg-offset-0{margin-left:0}}div.emd-container .clearfix,div.emd-container .clearfix:before,div.emd-container .clearfix:after,div.emd-container .container:before,div.emd-container .container:after,div.emd-container .container-fluid:before,div.emd-container .container-fluid:after,div.emd-container .row:before,div.emd-container .row:after{content:" ";display:table}div.emd-container .clearfix:after,div.emd-container .container:after,div.emd-container .container-fluid:after,div.emd-container .row:after{clear:both}div.emd-container .center-block{display:block;margin-left:auto;margin-right:auto}div.emd-container .pull-right{float:right!important}div.emd-container .pull-left{float:left!important}div.emd-container *,div.emd-container *:before,div.emd-container *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
div.emd-container .panel{margin-bottom:20px;background-color:#fff;border:1px solid transparent;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);box-shadow:0 1px 1px rgba(0,0,0,0.05)}div.emd-container .panel-body{padding:15px}div.emd-container .panel-heading{padding:10px 15px;border-bottom:1px solid transparent;border-top-right-radius:3px;border-top-left-radius:3px}div.emd-container .panel-heading>.dropdown .dropdown-toggle{color:inherit}div.emd-container .panel-title{margin-top:0;margin-bottom:0;font-size:16px;color:inherit}div.emd-container .panel-title>a,div.emd-container .panel-title>small,div.emd-container .panel-title>.small,div.emd-container .panel-title>small>a,div.emd-container .panel-title>.small>a{color:inherit}div.emd-container .panel-footer{padding:10px 15px;background-color:#f5f5f5;border-top:1px solid #ddd;border-bottom-right-radius:3px;border-bottom-left-radius:3px}div.emd-container .panel>.list-group,div.emd-container .panel>.panel-collapse>.list-group{margin-bottom:0}div.emd-container .panel>.list-group .list-group-item,div.emd-container .panel>.panel-collapse>.list-group .list-group-item{border-width:1px 0;border-radius:0}div.emd-container .panel>.list-group:first-child .list-group-item:first-child,div.emd-container .panel>.panel-collapse>.list-group:first-child .list-group-item:first-child{border-top:0;border-top-right-radius:3px;border-top-left-radius:3px}div.emd-container .panel>.list-group:last-child .list-group-item:last-child,div.emd-container .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child{border-bottom:0;border-bottom-right-radius:3px;border-bottom-left-radius:3px}div.emd-container .panel>.panel-heading+.panel-collapse>.list-group .list-group-item:first-child{border-top-right-radius:0;border-top-left-radius:0}div.emd-container .panel-heading+.list-group .list-group-item:first-child{border-top-width:0}div.emd-container .list-group+.panel-footer{border-top-width:0}div.emd-container .panel>.table,div.emd-container .panel>.table-responsive>.table,div.emd-container .panel>.panel-collapse>.table{margin-bottom:0}div.emd-container .panel>.table caption,div.emd-container .panel>.table-responsive>.table caption,div.emd-container .panel>.panel-collapse>.table caption{padding-left:15px;padding-right:15px}div.emd-container .panel>.table:first-child,div.emd-container .panel>.table-responsive:first-child>.table:first-child{border-top-right-radius:3px;border-top-left-radius:3px}div.emd-container .panel>.table:first-child>thead:first-child>tr:first-child,div.emd-container .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child,div.emd-container .panel>.table:first-child>tbody:first-child>tr:first-child,div.emd-container .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child{border-top-left-radius:3px;border-top-right-radius:3px}div.emd-container .panel>.table:first-child>thead:first-child>tr:first-child td:first-child,div.emd-container .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,div.emd-container .panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,div.emd-container .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,div.emd-container .panel>.table:first-child>thead:first-child>tr:first-child th:first-child,div.emd-container .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,div.emd-container .panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,div.emd-container .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child{border-top-left-radius:3px}div.emd-container .panel>.table:first-child>thead:first-child>tr:first-child td:last-child,div.emd-container .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,div.emd-container .panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,div.emd-container .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,div.emd-container .panel>.table:first-child>thead:first-child>tr:first-child th:last-child,div.emd-container .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,div.emd-container .panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,div.emd-container .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child{border-top-right-radius:3px}div.emd-container .panel>.table:last-child,div.emd-container .panel>.table-responsive:last-child>.table:last-child{border-bottom-right-radius:3px;border-bottom-left-radius:3px}div.emd-container .panel>.table:last-child>tbody:last-child>tr:last-child,div.emd-container .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child,div.emd-container .panel>.table:last-child>tfoot:last-child>tr:last-child,div.emd-container .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child{border-bottom-left-radius:3px;border-bottom-right-radius:3px}div.emd-container .panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,div.emd-container .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,div.emd-container .panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,div.emd-container .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,div.emd-container .panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,div.emd-container .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,div.emd-container .panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child,div.emd-container .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child{border-bottom-left-radius:3px}div.emd-container .panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,div.emd-container .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,div.emd-container .panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,div.emd-container .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,div.emd-container .panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,div.emd-container .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,div.emd-container .panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child,div.emd-container .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child{border-bottom-right-radius:3px}div.emd-container .panel>.panel-body+.table,div.emd-container .panel>.panel-body+.table-responsive,div.emd-container .panel>.table+.panel-body,div.emd-container .panel>.table-responsive+.panel-body{border-top:1px solid #ddd}div.emd-container .panel>.table>tbody:first-child>tr:first-child th,div.emd-container .panel>.table>tbody:first-child>tr:first-child td{border-top:0}div.emd-container .panel>.table-bordered,div.emd-container .panel>.table-responsive>.table-bordered{border:0}div.emd-container .panel>.table-bordered>thead>tr>th:first-child,div.emd-container .panel>.table-responsive>.table-bordered>thead>tr>th:first-child,div.emd-container .panel>.table-bordered>tbody>tr>th:first-child,div.emd-container .panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,div.emd-container .panel>.table-bordered>tfoot>tr>th:first-child,div.emd-container .panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,div.emd-container .panel>.table-bordered>thead>tr>td:first-child,div.emd-container .panel>.table-responsive>.table-bordered>thead>tr>td:first-child,div.emd-container .panel>.table-bordered>tbody>tr>td:first-child,div.emd-container .panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,div.emd-container .panel>.table-bordered>tfoot>tr>td:first-child,div.emd-container .panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child{border-left:0}div.emd-container .panel>.table-bordered>thead>tr>th:last-child,div.emd-container .panel>.table-responsive>.table-bordered>thead>tr>th:last-child,div.emd-container .panel>.table-bordered>tbody>tr>th:last-child,div.emd-container .panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,div.emd-container .panel>.table-bordered>tfoot>tr>th:last-child,div.emd-container .panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,div.emd-container .panel>.table-bordered>thead>tr>td:last-child,div.emd-container .panel>.table-responsive>.table-bordered>thead>tr>td:last-child,div.emd-container .panel>.table-bordered>tbody>tr>td:last-child,div.emd-container .panel>.table-responsive>.table-bordered>tbody>tr>td:last-child,div.emd-container .panel>.table-bordered>tfoot>tr>td:last-child,div.emd-container .panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child{border-right:0}div.emd-container .panel>.table-bordered>thead>tr:first-child>td,div.emd-container .panel>.table-responsive>.table-bordered>thead>tr:first-child>td,div.emd-container .panel>.table-bordered>tbody>tr:first-child>td,div.emd-container .panel>.table-responsive>.table-bordered>tbody>tr:first-child>td,div.emd-container .panel>.table-bordered>thead>tr:first-child>th,div.emd-container .panel>.table-responsive>.table-bordered>thead>tr:first-child>th,div.emd-container .panel>.table-bordered>tbody>tr:first-child>th,div.emd-container .panel>.table-responsive>.table-bordered>tbody>tr:first-child>th{border-bottom:0}div.emd-container .panel>.table-bordered>tbody>tr:last-child>td,div.emd-container .panel>.table-responsive>.table-bordered>tbody>tr:last-child>td,div.emd-container .panel>.table-bordered>tfoot>tr:last-child>td,div.emd-container .panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td,div.emd-container .panel>.table-bordered>tbody>tr:last-child>th,div.emd-container .panel>.table-responsive>.table-bordered>tbody>tr:last-child>th,div.emd-container .panel>.table-bordered>tfoot>tr:last-child>th,div.emd-container .panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th{border-bottom:0}div.emd-container .panel>.table-responsive{border:0;margin-bottom:0}div.emd-container .panel-group{margin-bottom:20px}div.emd-container .panel-group .panel{margin-bottom:0;border-radius:4px}div.emd-container .panel-group .panel+.panel{margin-top:5px}div.emd-container .panel-group .panel-heading{border-bottom:0}div.emd-container .panel-group .panel-heading+.panel-collapse>.panel-body,div.emd-container .panel-group .panel-heading+.panel-collapse>.list-group{border-top:1px solid #ddd}div.emd-container .panel-group .panel-footer{border-top:0}div.emd-container .panel-group .panel-footer+.panel-collapse .panel-body{border-bottom:1px solid #ddd}div.emd-container .panel-default{border-color:#ddd}div.emd-container .panel-default>.panel-heading{color:#333;background-color:#f5f5f5;border-color:#ddd}div.emd-container .panel-default>.panel-heading+.panel-collapse>.panel-body{border-top-color:#ddd}div.emd-container .panel-default>.panel-heading .badge{color:#f5f5f5;background-color:#333}div.emd-container .panel-default>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#ddd}div.emd-container .panel-primary{border-color:#337ab7}div.emd-container .panel-primary>.panel-heading{color:#fff;background-color:#337ab7;border-color:#337ab7}div.emd-container .panel-primary>.panel-heading+.panel-collapse>.panel-body{border-top-color:#337ab7}div.emd-container .panel-primary>.panel-heading .badge{color:#337ab7;background-color:#fff}div.emd-container .panel-primary>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#337ab7}div.emd-container .panel-success{border-color:#d6e9c6}div.emd-container .panel-success>.panel-heading{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6}div.emd-container .panel-success>.panel-heading+.panel-collapse>.panel-body{border-top-color:#d6e9c6}div.emd-container .panel-success>.panel-heading .badge{color:#dff0d8;background-color:#3c763d}div.emd-container .panel-success>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#d6e9c6}div.emd-container .panel-info{border-color:#bce8f1}div.emd-container .panel-info>.panel-heading{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}div.emd-container .panel-info>.panel-heading+.panel-collapse>.panel-body{border-top-color:#bce8f1}div.emd-container .panel-info>.panel-heading .badge{color:#d9edf7;background-color:#31708f}div.emd-container .panel-info>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#bce8f1}div.emd-container .panel-warning{border-color:#faebcc}div.emd-container .panel-warning>.panel-heading{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}div.emd-container .panel-warning>.panel-heading+.panel-collapse>.panel-body{border-top-color:#faebcc}div.emd-container .panel-warning>.panel-heading .badge{color:#fcf8e3;background-color:#8a6d3b}div.emd-container .panel-warning>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#faebcc}div.emd-container .panel-danger{border-color:#ebccd1}div.emd-container .panel-danger>.panel-heading{color:#a94442;background-color:#f2dede;border-color:#ebccd1}div.emd-container .panel-danger>.panel-heading+.panel-collapse>.panel-body{border-top-color:#ebccd1}div.emd-container .panel-danger>.panel-heading .badge{color:#f2dede;background-color:#a94442}div.emd-container .panel-danger>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#ebccd1}div.emd-container .clearfix:before,div.emd-container .clearfix:after,div.emd-container div.emd-container .panel-body:before,div.emd-container div.emd-container .panel-body:after{content:" ";display:table}div.emd-container .clearfix:after,div.emd-container div.emd-container .panel-body:after{clear:both}div.emd-container .center-block{display:block;margin-left:auto;margin-right:auto}div.emd-container .pull-right{float:right !important}div.emd-container .pull-left{float:left !important}div.emd-container .hide{display:none !important}div.emd-container .show{display:block !important}div.emd-container .invisible{visibility:hidden}div.emd-container .text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}div.emd-container .hidden{display:none !important}div.emd-container .affix{position:fixed}div.emd-container{
position:relative;
font-size:16px;
}
@media (min-width: 1200px){div.emd-container .textHuge{font-size:110px !important;line-height:normal}div.emd-container .textxxLarge{font-size:60px !important;line-height:normal}div.emd-container .textxLarge{font-size:40px !important;line-height:normal}div.emd-container .textLarge{font-size:36px !important;line-height:normal}div.emd-container .textxxMedium{font-size:26px !important;line-height:normal}div.emd-container .textxMedium{font-size:18px !important;line-height:normal}div.emd-container .textMedium{font-size:16px !important;line-height:normal}div.emd-container .textRegular{font-size:14px !important;line-height:normal}div.emd-container .textSmall{font-size:11px !important;line-height:normal}div.emd-container .textMini{font-size:9px !important;line-height:normal}}@media (min-width: 992px) and (max-width: 1199px){div.emd-container .textHuge{font-size:77px !important;line-height:normal}div.emd-container .textxxLarge{font-size:42px !important;line-height:normal}div.emd-container .textxLarge{font-size:28px !important;line-height:normal}div.emd-container .textLarge{font-size:26px !important;line-height:normal}div.emd-container .textxxMedium{font-size:18px !important;line-height:normal}div.emd-container .textxMedium{font-size:16px !important;line-height:normal}div.emd-container .textMedium{font-size:14px !important;line-height:normal}div.emd-container .textRegular{font-size:12px !important;line-height:normal}div.emd-container .textSmall{font-size:11px !important;line-height:normal}div.emd-container .textMini{font-size:9px !important;line-height:normal}}@media (min-width: 768px) and (max-width: 991px){div.emd-container .textHuge{font-size:54px !important;line-height:normal}div.emd-container .textxxLarge{font-size:30px !important;line-height:normal}div.emd-container .textxLarge{font-size:22px !important;line-height:normal}div.emd-container .textLarge{font-size:18px !important;line-height:normal}div.emd-container .textxxMedium{font-size:16px !important;line-height:normal}div.emd-container .textxMedium{font-size:14px !important;line-height:normal}div.emd-container .textMedium{font-size:12px !important;line-height:normal}div.emd-container .textRegular{font-size:12px !important;line-height:normal}div.emd-container .textSmall{font-size:11px !important;line-height:normal}div.emd-container .textMini{font-size:9px !important;line-height:normal}}@media (max-width: 767px){div.emd-container .textHuge{font-size:38px !important;line-height:normal}div.emd-container .textxxLarge{font-size:24px !important;line-height:normal}div.emd-container .textxLarge{font-size:22px !important;line-height:normal}div.emd-container .textLarge{font-size:18px !important;line-height:normal}div.emd-container .textxxMedium{font-size:16px !important;line-height:normal}div.emd-container .textxMedium{font-size:14px !important;line-height:normal}div.emd-container .textMedium{font-size:12px !important;line-height:normal}div.emd-container .textRegular{font-size:12px !important;line-height:normal}div.emd-container .textSmall{font-size:11px !important;line-height:normal}div.emd-container .textMini{font-size:9px !important;line-height:normal}}@media (max-width: 480px){div.emd-container .textHuge{font-size:32px !important;line-height:normal}div.emd-container .textxxLarge{font-size:22px !important;line-height:normal}div.emd-container .textxLarge{font-size:20px !important;line-height:normal}div.emd-container .textLarge{font-size:16px !important;line-height:normal}div.emd-container .textxxMedium{font-size:14px !important;line-height:normal}div.emd-container .textxMedium{font-size:13px !important;line-height:normal}div.emd-container .textMedium{font-size:11px !important;line-height:normal}div.emd-container .textRegular{font-size:10px !important;line-height:normal}div.emd-container .textSmall{font-size:9px !important;line-height:normal}div.emd-container .textMini{font-size:8px !important;line-height:normal}}div.emd-container .font-bold{font-weight:bold}div.emd-container .font-oblique{font-style:oblique}div.emd-container .font-italic{font-style:italic}div.emd-container .font-normal{font-style:normal}div.emd-container .text-line-through{text-decoration:line-through}div.emd-container .text-overline{text-decoration:overline}div.emd-container .text-underline{text-decoration:underline}div.emd-container .text-undernone{text-decoration:none}
#emp-carousel .carousel-inner .person-img img { height: auto; width: 100%; } #emp-carousel .item article { width: 25% !important; } #emp-carousel article { max-height: 250px; overflow: hidden; } .carousel-control .fa-chevron-left,.carousel-control .fa-chevron-right { display: inline-block; margin-left: -15px; margin-right: -15px; position: absolute; top: 50%; z-index: 5; } .carousel-control.left,.carousel-control.right { background-image: none; } .carousel-inner .active.left { left: -20%; } .carousel-inner .next { left: 20%; } .carousel-inner > .item > article { margin: 0 auto; } .panel-heading.person-tag,.panel-footer.person-tag { padding: 10px; } .person { position: relative; } .person-panel-body { padding: 5px; } .person-thumb { display: block; overflow: hidden; position: relative; max-width: 150px; } .person-thumb .person-link { display: none; visibility: hidden; } .person-thumb .person-link:hover { color: #5CC9DF; } .person-thumb:hover .person-link { background: #fff; color: #777; display: block; font-weight: 300; font-size: 12px; margin: 0; padding: 5px 0; position: absolute; text-align: center; top: 0; visibility: visible; width: 150px; z-index: 2; } .text-center,.panel-person-tag { text-align: center; } .text-danger { color: red; } a.facebook { color: #3b5a9a !important; } a.github { color: #333 !important; } a.google-plus { color: #f45e4b !important; } a.linkedin { color: #0174b3 !important; } a.twitter { color: #2da8e1 !important; } div.emd-container .alert-info { background-color: #d9edf7; border-color: #bce8f1; color: #31708f; } div.emd-container .animate { display: inline-block; vertical-align: middle; } div.emd-container .badge { display: inline-block; font-size: 12px; font-weight: 700; line-height: 1; min-width: 10px; padding: 3px 7px; text-align: center; vertical-align: baseline; white-space: nowrap; } div.emd-container .emd-img { border: 2px solid ; text-align: center; width: 150px; height: 150px; overflow: hidden; border-color:inherit; } div.emd-container .person-img { text-align: center; } div.emd-container a.text-undernone { text-decoration: none; } div.emd-container .panel.person { background-color: #fff; border: 1px solid #ddd; margin: 2px; } div.emd-container .taxlabel a { text-decoration: none; } div.emd-container a.person-name { color: #4abaae; text-decoration: none; } figure.panel-body,figure.widget-img-body,ul.contact-links-list li { margin: 0; } div.emd-container .circle img,div.emd-container .img-circle img { border-radius: 50%; text-align: center; } div.emd-container .mainDetails { margin-bottom: 15px; }html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
} article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}