.disqus_rcw_author_name {
position: relative;
top: -15px;
display: inline-block;
}
.disqus_rcw_single_comment_wrapper {
margin-bottom: 15px;
}
.disqus_rcw_avatar {
width: 35px;
}
.disqus_rcw_thread_title {
font-weight: bold;
text-decoration: none;
}
.disqus_rcw_thread_title:hover {
text-decoration: underline;
}
.disqus_rcw_comment_actual_wrapper {
font-style: italic;
}
.disqus_rcw_clear {
clear: both;
} .disqus_rcw_author_wrapper {
margin-bottom: 7px;
}
img.disqus_rcw_avatar_html5 {
float: left;
width: 35px;
margin-right: 7px;
}
div.disqus_rcw_author {
float: left;
}
.disqus_rcw_post_time_html5 {
font-size: 75%;
}
ul.disqus_rcw_comments_list li {
list-style-type: none;
font-size:13px;
text-decoration: none;
line-height:20px;
border-style: solid;
border-width: 1px;
border-color: #dddddd;
padding: 5px;
margin:5px;
}
.disqus_rcw_message {
text-decoration: none;
font-weight:normal;
font-color: #444444;
}
.disqus_rcw_message:hover {
text-decoration: underline;
}
span.judulkomen
{
padding-left:10px;
}html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
} article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}