html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
} article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
html {
overflow-x: hidden;
}
body {
color: #3C4551;
font-size: 100%;
-webkit-font-smoothing: antialiased;
font-weight: 400;
line-height: 100%;
margin: 0px auto;
padding: 0px;
}
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
-webkit-backface-visibility: hidden;
color: #222;
}
img {
max-width: 100%;
height: auto;
-webkit-backface-visibility: hidden;
}
iframe,
embed,
object,
video {
max-width: 100%;
}
#truethemes_container #main {
float: left;
} a, a:visited {
font-weight: 700;
text-decoration: none;
-webkit-transition: color .3s;
-moz-transition: color .3s;
-ms-transition: color .3s;
-o-transition: color .3s;
transition: color .3s;
}
a:hover {
text-decoration: none;
}
a:active,
a:focus {
outline: none;
} #site,
#site-wrap {
overflow: hidden;
width: 100%;
}
.relative {
position: relative;
}
.w100 {
width: 100% !important;
}
.right, .alignright {
float: right;
}
.alignright {
margin: 20px 0 20px 20px;
}
.left, .alignleft {
float: left;
}
.alignleft {
margin: 20px 20px 20px 0;
}
.aligncenter {
display: block;
margin: 0 auto;
}
.section-div {
border-bottom: 1px dotted #ccc;
float: left;
margin: 20px 0;
width: 100%;
}
.section {
clear: both;
overflow: hidden;
}
.mob-img {
display: none;
}
#wallpaper {
display: block;
position: absolute;
top: 50px;
width: 100%;
height: 100%;
}
.wall-fixed {
position: fixed !important;
top: 50px !important;
}
.wallpaper-link {
margin: 0 auto;
position: absolute;
top: 0;
width: 100%;
height: 100%;
}
#fly-wrap,
ul.post-gallery-bot-list li img,
.post-gallery-top .flex-direction-nav a,
.fly-fade,
nav.main-menu-wrap,
nav.main-menu-wrap ul li a,
nav.main-menu-wrap ul li.menu-item-has-children a:after,
.mega-img img,
span.nav-search-but i,
span.nav-soc-but i,
ul.score-list li,
.es-nav span a,
.feat-wide-sub-text h2,
.feat-wide1-img img,
.feat-top2-left-img img,
.feat-top2-right-img img,
.feat-wide5-img img,
#home-feat-img img,
.feat-vid-but,
.side-list-img img,
.side-list-text p,
.row-widget-img img,
.row-widget-text p,
.blog-widget-img img,
.blog-widget-text h2,
.feat-widget-img img,
.feat-widget-text h2,
span.more-posts-text,
.facebook-share,
.twitter-share,
.pinterest-share,
.email-share,
.social-comments,
.prev-next-text,
#comments-button a,
#comments-button span.comment-but-text,
.archive-list-img img,
.archive-list-text h2,
ul.foot-soc-list li a,
.tag-cloud a,
a.inf-more-but,
.mvp-related-img img {
-webkit-transition: all .25s;
-moz-transition: all .25s;
-ms-transition: all .25s;
-o-transition: all .25s;
transition: all .25s;
} #fly-wrap {
background: #444;
overflow: hidden;
position: fixed;
top: 0;
bottom: 0;
left: 0;
-webkit-transform: translate3d(-370px,0,0);
-moz-transform: translate3d(-370px,0,0);
-ms-transform: translate3d(-370px,0,0);
-o-transform: translate3d(-370px,0,0);
transform: translate3d(-370px,0,0);
width: 370px;
height: 100%;
z-index: 10;
}
.fly-wrap-out {
float: right;
margin-left: -40px;
position: relative;
width: 100%;
height: 100%;
}
.fly-wrap-in {
margin-left: 40px;
position: relative;
height: 100%;
}
.fly-side-wrap {
background: #555;
position: absolute;
left: 0;
top: 0;
bottom: 0;
width: 40px;
height: 100%;
}
#fly-wrap,
#main-nav-wrap,
#score-wrap,
#soc-nav-wrap,
#body-main-wrap,
.fly-to-top,
.col-tabs-wrap,
#wallpaper,
nav.main-menu-wrap ul li.mega-dropdown .mega-dropdown,
#head-main-top {
-webkit-transition: -webkit-transform 0.3s ease;
-moz-transition: -moz-transform 0.3s ease;
-ms-transition: -ms-transform 0.3s ease;
-o-transition: -o-transform 0.3s ease;
transition: transform 0.3s ease;
}
.fly-but-wrap {
cursor: pointer;
width: 60px;
height: 50px;
}
.fly-but-wrap span {
background: #fff;
display: block;
position: absolute;
left: 15px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-ms-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
width: 30px;
height: 3px;
}
.fly-but-wrap span:nth-child(1) {
top: 15.5px;
}
.fly-but-wrap span:nth-child(2),
.fly-but-wrap span:nth-child(3) {
top: 23.5px;
}
.fly-but-wrap span:nth-child(4) {
top: 31.5px;
}
.fly-but-wrap.fly-open span:nth-child(1),
.fly-but-wrap.fly-open span:nth-child(4) {
top: 24px;
left: 50%;
width: 0%;
}
.fly-but-wrap.fly-open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}
.fly-but-wrap.fly-open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.fly-menu {
-webkit-transform: translate3d(0,0,0) !important;
-moz-transform: translate3d(0,0,0) !important;
-ms-transform: translate3d(0,0,0) !important;
-o-transform: translate3d(0,0,0) !important;
transform: translate3d(0,0,0) !important;
}
.fly-content,
.main-nav-over {
-webkit-transform: translate3d(370px,0,0) !important;
-moz-transform: translate3d(370px,0,0) !important;
-ms-transform: translate3d(370px,0,0) !important;
-o-transform: translate3d(370px,0,0) !important;
transform: translate3d(370px,0,0) !important;
}
ul.fly-bottom-soc {
overflow: hidden;
width: 100%;
}
ul.fly-bottom-soc li a {
border-top: 1px solid #444;
color: #888;
cursor: pointer;
float: left;
overflow: hidden;
text-align: center;
-webkit-transition: all .3s;
transition: all .3s;
width: 100%;
}
ul.fly-bottom-soc li i {
font-size: 20px;
padding: 10px;
width: 20px;
}
ul.fly-bottom-soc li.fb-soc a:hover,
.post-soc-fb {
background: #3b5997;
color: #fff;
}
ul.fly-bottom-soc li.twit-soc a:hover,
.post-soc-twit {
background: #00aced;
color: #fff;
}
ul.fly-bottom-soc li.pin-soc a:hover,
.post-soc-pin {
background: #cb2027;
color: #fff;
}
ul.fly-bottom-soc li.inst-soc a:hover {
background: #36658c;
color: #fff;
}
ul.fly-bottom-soc li.goog-soc a:hover {
background: #cd3627;
color: #fff;
}
ul.fly-bottom-soc li.yt-soc a:hover {
background: #f00;
color: #fff;
}
ul.fly-bottom-soc li.link-soc a:hover {
background: #069;
color: #fff;
}
ul.fly-bottom-soc li.tum-soc a:hover {
background: #304e6c;
color: #fff;
}
ul.fly-bottom-soc li.rss-soc a:hover {
background: #f60;
color: #fff;
}
.fly-to-top {
background: #333;
-webkit-border-radius: 5px;
border-radius: 5px;
cursor: pointer;
overflow: hidden;
position: fixed;
right: 15px;
bottom: 0;
-webkit-transition: all .3s;
transition: all .3s;
width: 50px;
height: 50px;
}
.fly-to-top:hover {
background: #555;
}
.fly-to-top {
-webkit-transform: translate3d(0,100px,0);
-moz-transform: translate3d(0,100px,0);
-ms-transform: translate3d(0,100px,0);
-o-transform: translate3d(0,100px,0);
transform: translate3d(0,100px,0);
}
.to-top-trans {
-webkit-transform: translate3d(0,-15px,0);
-moz-transform: translate3d(0,-15px,0);
-ms-transform: translate3d(0,-15px,0);
-o-transform: translate3d(0,-15px,0);
transform: translate3d(0,-15px,0);
}
.fly-to-top i {
font-size: 40px;
line-height: 100%;
position: absolute;
top: -3px;
left: 12.1px;
}
span.to-top-text {
font-family: 'Lato', sans-serif;
font-size: 8px;
font-weight: 400;
line-height: 100%;
position: absolute;
bottom: 11px;
left: 10.5px;
text-transform: uppercase;
}
.fly-to-top i,
span.to-top-text {
color: #fff;
}
#fly-menu-wrap {
overflow: hidden;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
nav.fly-nav-menu {
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
margin: 15px 4.54545454545% 0; overflow: hidden;
position: absolute !important;
width: 90.9090909091%; height: 87%;
}
nav.fly-nav-menu ul {
float: left;
position: relative;
width: 100%;
}
nav.fly-nav-menu ul div.mega-dropdown {
display: none;
}
nav.fly-nav-menu ul li {
border-top: 1px solid #555;
cursor: pointer;
float: left;
position: relative;
width: 100%;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
nav.fly-nav-menu ul li:first-child {
border-top: none;
margin-top: -14px;
}
nav.fly-nav-menu ul li ul li:first-child {
margin-top: 0;
}
nav.fly-nav-menu ul li a {
color: #fff;
display: inline-block;
float: left;
font-size: 13px;
font-weight: 400;
line-height: 100%;
padding: 14px 0;
text-transform: uppercase;
}
nav.fly-nav-menu ul li a:hover {
color: #bbb;
}
nav.fly-nav-menu ul li.menu-item-has-children:after {
content: '+';
color: #777;
font-family: 'Open Sans', serif;
font-size: 32px;
font-weight: 800;
position: absolute;
right: 0;
top: 11px;
}
nav.fly-nav-menu ul li.menu-item-has-children.tog-minus:after {
content: '_';
right: 1px;
top: -4px;
}
nav.fly-nav-menu ul li ul.sub-menu {
border-top: 1px solid #555;
display: none;
float: left;
padding-left: 6.66666666666%; width: 93.333333333%; }
.fly-fade {
background: #000;
opacity: 0;
width: 100%;
position: fixed;
top: 0;
left: 0;
}
.fly-fade-trans {
opacity: .5;
height: 100%;
} #head-main-wrap {
width: 100%;
}
#head-main-top {
width: 100%;
z-index: 99999;
}
#main-nav-wrap {
float: left;
position: relative;
width: 100%;
height: 50px;
z-index: 9999;
}
#main-nav-cont {
width: 100%;
}
.nav-logo-out {
float: right;
margin-left: -280px;
width: 100%;
}
.nav-logo-in {
margin-left: 280px;
}
.nav-left-wrap {
width: 280px;
}
.nav-logo-fade {
line-height: 0;
overflow: hidden;
padding-right: 0;
width: 0;
}
.nav-logo {
line-height: 0;
padding-right: 20px;
width: 200px;
}
.nav-menu-out {
float: left;
margin-right: -123px;
width: 100%;
}
.nav-menu-in {
margin-right: 123px;
}
nav.main-menu-wrap {
top: 0;
width: 100%;
}
nav.main-menu-wrap ul {
float: left;
width: 1000%;
}
nav.main-menu-wrap ul li {
float: left;
position: relative;
}
nav.main-menu-wrap ul li.mega-dropdown {
position: static;
}
nav.main-menu-wrap ul li a {
float: left;
font-size: 13px;
font-weight: 400;
line-height: 100%;
opacity: 1;
padding: 18.5px 14px;
position: relative;
text-transform: uppercase;
}
nav.main-menu-wrap ul li.menu-item-has-children ul.sub-menu li a:after,
nav.main-menu-wrap ul li.menu-item-has-children ul.sub-menu li ul.sub-menu li a:after,
nav.main-menu-wrap ul li.menu-item-has-children ul.sub-menu li ul.sub-menu li ul.sub-menu li a:after,
nav.main-menu-wrap ul li.menu-item-has-children ul.mega-list li a:after {
border-style: none;
border-width: medium;
content: '';
position: relative;
top: auto;
right: auto;
}
nav.main-menu-wrap ul li.menu-item-has-children a:after {
border-style: solid;
border-width: 3px 3px 0 3px;
content: '';
position: absolute;
top: 23.5px;
right: 5px;
}
nav.main-menu-wrap ul li.menu-item-has-children a {
padding: 18.5px 17px 18.5px 14px;
}
nav.main-menu-wrap ul li ul.sub-menu {
background: #fff;
-webkit-box-shadow: -1px 2px 5px 0 rgba(0,0,0,0.15);
-moz-box-shadow: -1px 2px 5px 0 rgba(0,0,0,0.15);
-ms-box-shadow: -1px 2px 5px 0 rgba(0,0,0,0.15);
-o-box-shadow: -1px 2px 5px 0 rgba(0,0,0,0.15);
box-shadow: -1px 2px 5px 0 rgba(0,0,0,0.15);
position: absolute;
top: 50px;
left: 0;
max-width: 200px;
-webkit-transition: -webkit-transform 0.3s;
-moz-transition: -moz-transform 0.3s;
-ms-transition: -ms-transform 0.3s;
-o-transition: -o-transform 0.3s;
transition: transform 0.3s;
-webkit-transform: translateY(-999px);
-moz-transform: translateY(-999px);
-ms-transform: translateY(-999px);
-o-transform: translateY(-999px);
transform: translateY(-999px);
width: auto;
z-index: -1;
}
nav.main-menu-wrap ul li.mega-dropdown ul.sub-menu {
display: none;
}
nav.main-menu-wrap ul li:hover ul.sub-menu {
overflow: visible;
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transform: translateY(0);
}
nav.main-menu-wrap ul li ul.sub-menu li {
display: block;
float: left;
position: relative;
width: 100%;
}
nav.main-menu-wrap ul li ul.sub-menu li a {
background: #fff;
border-top: 1px solid rgba(0,0,0,.1);
color: #333 !important;
font-size: 12px;
padding: 12px 20px;
text-transform: none;
width: 160px;
}
nav.main-menu-wrap ul li ul.sub-menu li a:hover {
background: rgba(0,0,0,.1);
}
nav.main-menu-wrap ul li ul.sub-menu ul.sub-menu li ul,
nav.main-menu-wrap ul li ul.sub-menu li ul {
display: none;
position: absolute;
top: 0;
left: 200px;
z-index: 10;
}
nav.main-menu-wrap ul li ul.sub-menu ul.sub-menu li:hover ul,
nav.main-menu-wrap ul li ul.sub-menu li:hover ul {
display: block;
}
nav.main-menu-wrap ul li ul.sub-menu li .mega-dropdown {
display: none;
}
nav.main-menu-wrap ul li:hover ul.sub-menu li.menu-item-has-children a {
position: relative;
}
nav.main-menu-wrap ul li:hover ul.sub-menu li.menu-item-has-children a:after,
nav.main-menu-wrap ul li:hover ul.sub-menu li ul.sub-menu li.menu-item-has-children a:after {
border-color: transparent transparent transparent #333 !important;
border-style: solid;
border-width: 3px 0 3px 3px;
content: '';
position: absolute;
top: 15px;
right: 10px;
}
nav.main-menu-wrap ul li.mega-dropdown .mega-dropdown {
background: #fff;
border-top: 1px solid #ddd;
-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
-ms-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
-o-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
position: absolute;
top: 50px;
left: 0;
-webkit-transform: translateY(-999px);
-moz-transform: translateY(-999px);
-ms-transform: translateY(-999px);
-o-transform: translateY(-999px);
transform: translateY(-999px);
width: 100%;
z-index: -4000;
}
nav.main-menu-wrap ul li.mega-dropdown:hover .mega-dropdown {
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transform: translateY(0);
}
nav.main-menu-wrap ul li ul.mega-list li a {
background: none !important;
float: left;
font-size: .8em;
font-weight: 400;
line-height: 140%;
padding: 0 !important;
text-transform: none;
}
nav.main-menu-wrap ul li ul.mega-list li .mega-img a {
line-height: 0;
}
ul.mega-list {
float: left;
width: 100% !important;
}
ul.mega-list li {
float: left;
overflow: hidden;
padding: 20px 0 20px 1.26342387871%; width: 18.4838913455%; }
.mega-img {
background: #000;
float: left;
line-height: 0;
margin-bottom: 15px;
overflow: hidden;
position: relative;
width: 100%;
max-height: 130px;
}
.mega-img img {
opacity: .9;
width: 100%;
}
ul.mega-list li:hover .mega-img img {
opacity: 1;
}
.mega-img a {
padding: 0;
}
.nav-right-wrap {
float: right;
width: 123px;
height: 50px;
}
.nav-search-wrap {
width: 50px;
height: 50px;
}
.search-fly-wrap {
background: #fff;
-webkit-border-bottom-left-radius: 5px;
-moz-border-bottom-left-radius: 5px;
-ms-border-bottom-left-radius: 5px;
-o-border-bottom-left-radius: 5px;
border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-bottom-right-radius: 5px;
-ms-border-bottom-right-radius: 5px;
-o-border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px;
-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
-moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
-ms-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
-o-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
display: none;
overflow: hidden;
padding: 10px;
position: absolute;
top: 50px;
right: 0;
width: 300px;
height: 32px;
}
#searchform input {
background: rgba(0,0,0,.05);
border: 0;
color: #333;
float: left;
font-family: 'Lato', sans-serif;
font-size: .9rem;
font-weight: 400;
line-height: 100%;
padding: 2px 5%;
width: 90%;
height: 30px;
}
#searchform #searchsubmit {
border: none;
float: left;
}
#searchform #s:focus {
outline: none;
}
span.nav-search-but,
span.nav-soc-but {
display: inline-block;
float: left;
padding: 17px 11px;
}
span.nav-search-but {
cursor: pointer;
padding: 14px 15px;
}
span.nav-search-but i,
span.nav-soc-but i {
font-size: 16px;
line-height: 100%;
}
span.nav-search-but i {
font-size: 22px;
}
.fixed,
.fixed-col {
border-bottom: none !important;
-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
-moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
-ms-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
-o-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
position: fixed !important;
}
.col-tabs-wrap {
background: #eee;
border-top: 1px solid #ddd;
-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
-moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
-ms-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
-o-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
display: none;
position: relative;
width: 100%;
height: 30px;
z-index: 999;
}
ul.col-tabs {
width: 100%;
}
ul.col-tabs li {
cursor: pointer;
float: left;
position: relative;
text-align: center;
width: 33.33333333%;
height: 30px;
}
ul.col-tabs li a {
color: #bbb;
display: inline-block;
font-size: 12px;
font-weight: 400;
line-height: 100%;
padding: 9px 0;
text-transform: uppercase;
width: 100%;
}
ul.col-tabs li.active {
background: #fff;
}
ul.col-tabs li.active a {
color: #222;
} #score-wrap {
-webkit-backface-visibility: hidden; background: #333;
overflow: hidden;
width: 100%;
height: 51px;
z-index: 99999;
}
.score-cont {
width: 100%;
}
.score-out {
float: right;
margin-left: -151px;
width: 100%;
}
.score-in {
margin-left: 151px;
}
#score-menu-wrap {
width: 150px;
height: 51px;
}
.score-nav-menu {
float: left;
margin: 12.5px 5%;
overflow: hidden;
position: relative;
width: 90%;
height: 26px;
}
.score-nav-menu:before {
content: '';
cursor: pointer;
width: 0; 
height: 0; 
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 5px solid #bbb;
position: absolute;
top: 10px;
right: 10px;
}
.score-nav-menu .tabs {
width: 100%;
}
.score-nav-menu select {
background: #444;
border: none;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
color: #fff;
cursor: pointer;
float: left;
font-size: 12px;
font-weight: 800;
line-height: 100%;
outline: none;
padding: 0 8.33333333333%; -webkit-transition: background 0.2s;
-moz-transition: background 0.2s;
-ms-transition: background 0.2s;
-o-transition: background 0.2s;
transition: background 0.2s;
-webkit-appearance: none !important;
-moz-appearance: none !important;
text-indent: .01px;
text-overflow: '';
width: 83.33333333333%; height: 26px;
}
.score-nav-menu select option {
background: #444;
color: #fff;
font: 800 12px/100% 'Open Sans', sans-serif;
height: 100%;
}
.score-main {
overflow: hidden;
width: 100%;
height: 51px;
}
ul.score-list {
width: 100%;
height: 51px;
}
ul.score-list li {
background: #444;
border: 1px solid #444;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
float: left;
margin: 5px 2px 5px 0;
padding: 3px 10px 6px;
width: 130px;
height: 30px;
}
ul.score-list li:hover {
background: #333;
border: 1px solid #555;
}
.score-top {
float: right;
overflow: hidden;
text-align: center;
width: 33%;
height: 30px;
}
.score-bot {
overflow: hidden;
padding-right: 7%;
width: 60%;
height: 30px;
}
.score-top p,
.score-bot p {
color: #bbb;
font-family: 'Lato', sans-serif;
font-size: 11px;
font-weight: 400;
line-height: 150%;
}
.score-bot-left {
width: 60%;
height: 30px;
}
.score-bot-right {
float: right;
text-align: right;
width: 40%;
height: 30px;
}
.es-carousel {
float: left;
position: relative;
width: 100%;
height: 51px;
}
.es-nav {
position: absolute;
top: 0;
right: 0;
width: 100%;
}
.es-nav span {
cursor: pointer;
position: absolute;
width: 20px;
height: 51px;
}
.es-nav span a {
color: #bbb;
font-family: 'Quicksand', sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 100%;
padding: 13px 0;
}
.es-nav span:hover a {
color: #fff;
}
.es-nav span a:hover {
text-decoration: none;
}
.es-nav span.es-nav-prev a {
float: left;
}
.es-nav span.es-nav-next a {
float: right;
}
.es-nav span.es-nav-prev,
.es-nav span.es-nav-next {
background: #333;
}
.es-nav span.es-nav-prev {
border-left: 1px solid #444;
border-right: 1px solid #444;
padding: 0 10px 0 15px;
text-align: left;
left: 0;
}
.es-nav span.es-nav-next {
border-left: 1px solid #444;
padding: 0 15px 0 10px;
text-align: right;
right: 0;
} .leader-wrap-out {
float: right;
margin-left: -30px;
position: relative;
right: 15px;
width: 100%;
}
.leader-wrap-in {
margin-left: 30px;
}
#leader-wrap,
.leader-right-wrap {
line-height: 0;
text-align: center;
width: 100%;
}
#leader-wrap {
background: #eee;
margin-bottom: 15px;
}
#head-main-top #leader-wrap {
margin: 15px 0 0;
}
.leader-right-wrap {
margin: 0;
}
#logo-leader-wrap {
margin: 15px 0 0;
width: 100%;
}
.logo-leader-out {
float: right;
margin-left: -315px;
width: 100%;
}
.logo-leader-in {
margin-left: 315px;
}
.logo-left-wrap {
margin-right: 15px;
line-height: 0;
width: 300px;
}
.logo-wide-wrap {
line-height: 0;
margin-top: 15px;
text-align: center;
width: 100%;
}
h1.mvp-logo-title,
h2.mvp-logo-title {
display: none;
} #feat-wide-wrap {
margin: -15px 0 15px;
overflow: hidden;
width: 100%;
}
#feat-wide-main {
width: 100%;
height: 450px;
}
#feat-wide-main:hover .feat-wide1-img img {
opacity: 1;
}
.feat-wide1-text {
background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));
background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
padding: 100px 3.15855969678% 50px; position: absolute;
bottom: 0;
left: 0;
text-align: center;
width: 93.7%; }
.feat-wide4-text {
background-image: -moz-linear-gradient(to left,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -ms-linear-gradient(to left,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -o-linear-gradient(to left,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -webkit-linear-gradient(to left,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));
background-image: linear-gradient(to left,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
padding: 75px 100px; position: absolute;
top: 0;
left: 0;
text-align: center;
width: 25%; height: 300px;
}
#feat-top-wrap .feat-wide4-text {
padding: 75px 100px 75px 50px;
}
#feat-wide-main .feat-wide1-text h2,
#feat-wide-main .feat-wide4-text h2 {
font-size: 3.4rem;
}
#feat-wide-main .feat-wide1-text p,
#feat-wide-main .feat-wide4-text p {
font-size: 1.6rem;
}
#feat-wide-sub {
background-image: -moz-linear-gradient(to right,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -ms-linear-gradient(to right,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -o-linear-gradient(to right,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -webkit-linear-gradient(to right,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));
background-image: linear-gradient(to right,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
padding: 40px 100px;
position: absolute;
top: 0;
right: 0;
width: 17%;
height: 370px;
}
#feat-top-wrap #feat-wide-sub {
padding: 40px 50px 40px 100px;
}
ul.feat-wide-sub-list {
width: 100%;
}
ul.feat-wide-sub-list li {
float: left;
margin-bottom: 20px;
text-align: center;
width: 100%;
}
.feat-wide-sub-text {
text-align: center;
width: 100%;
}
.feat-wide-sub-text span.feat-cat {
background: none;
color: #aaa;
font-weight: 400;
padding: 0;
}
.feat-wide-sub-text h2 {
color: #fff;
font-size: .9rem;
font-weight: 400;
line-height: 130%;
width: 100%;
}
ul.feat-wide-sub-list li:hover .feat-wide-sub-text h2 {
color: #bbb;
}
.feat-wide5-main {
margin-left: .094756790903%; overflow: hidden;
width: 24.9289324068%; height: 450px;
}
#feat-top-wrap .feat-wide5-main {
height: 450px;
}
.feat-wide5-main:first-child {
margin-left: 0;
}
.feat-wide5-img img {
min-width: 840px;
}
.feat-wide5-main:hover .feat-wide5-img img {
opacity: 1;
}
.feat-wide5-text {
background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));
background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
padding: 40px 5.050505050505% 20px; position: absolute;
left: 0;
bottom: 0;
width: 90%; }
.feat-wide5-text h2 {
color: #fff;
float: left;
font-size: 1.5rem;
font-weight: 700;
line-height: 120%;
-webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
-moz-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
-ms-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
-o-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
text-shadow: 1px 1px 1px rgba(0,0,0,.3);
width: 100%;
}
#feat-top-wrap .feat-wide5-text h2 {
font-size: 1.4rem;
}
#feat-top-wrap {
margin-bottom: 15px;
overflow: hidden;
width: 100%;
}
#feat-top-wrap #home-feat-img {
max-height: 450px;
}
#feat-top-wrap #feat-wide-main {
height: 450px;
}
.feat-top2-left-wrap {
width: 49.9457700651%; height: 370px;
}
#feat-wide-wrap .feat-top2-left-wrap,
#feat-wide-wrap .feat-top2-right-wrap,
#feat-wide-wrap .feat-top2-right:first-child {
height: 450px;
}
.feat-top2-left {
overflow: hidden;
width: 100%;
height: 100%;
}
.feat-wide1-img,
.feat-top2-left-img,
.feat-top2-right-img,
.feat-wide5-img {
background: #000;
line-height: 0;
overflow: hidden;
width: 100%;
height: 100%;
}
.feat-top2-left-img img,
.feat-top2-right:first-child .feat-top2-right-img img {
min-width: 660px;
}
#feat-wide-wrap .feat-top2-left-img img,
#feat-wide-wrap .feat-top2-right:first-child .feat-top2-right-img img {
min-width: 810px;
}
.feat-wide1-img img,
.feat-top2-left-img img,
.feat-top2-right-img img,
.feat-wide5-img img {
margin: 0 auto;
opacity: .9;
position: absolute;
left: -9999px;
right: -9999px;
width: 100%;
}
.feat-top2-left:hover .feat-top2-left-img img,
.feat-top2-right:hover .feat-top2-right-img img {
opacity: 1;
}
.feat-top2-left-text {
background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));
background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
padding: 30px 2.17155266015% 15px; position: absolute;
left: 0;
bottom: 0;
width: 95.7%; }
.feat-top2-right-wrap {
overflow: hidden;
width: 50.0542299349%; height: 370px;
}
.feat-top2-right {
margin: 0 0 1px .216684723727%; overflow: hidden;
width: 49.7833152763%; height: 184.5px;
}
#feat-wide-wrap .feat-top2-right {
height: 224.5px;
}
.feat-top2-right:first-child {
height: 370px;
}
.feat-top2-right:first-child .feat-top2-right-text h2 {
font-size: 1.3rem;
}
.feat-top2-right .feat-top2-small,
.feat-top2-right:first-child .feat-top2-big {
display: block;
}
.feat-top2-right .feat-top2-big,
.feat-top2-right:first-child .feat-top2-small {
display: none;
}
.feat-top2-right-img img {
min-width: 310px;
}
#feat-wide-wrap .feat-top2-right-img img {
min-width: 400px;
}
.feat-top2-right-text {
background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));
background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
padding: 30px 4.36205016358% 15px; position: absolute;
left: 0;
bottom: 0;
width: 92.3%; }
.feat-top2-right-text h2 {
color: #fff;
float: left;
font-size: 1rem;
font-weight: 400;
line-height: 130%;
-webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
-moz-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
-ms-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
-o-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
text-shadow: 1px 1px 1px rgba(0,0,0,.3);
width: 100%;
}
#home-feat-wrap {
width: 100%;
}
.home-feat-main {
overflow: hidden;
width: 100%;
}
#home-feat-img {
background: #000;
line-height: 0;
width: 100%;
max-height: 350px;
}
.category #home-feat-img {
max-height: 450px;
}
#home-feat-img img {
opacity: .9;
width: 100%;
}
.home-feat-main:hover #home-feat-img img {
opacity: 1;
}
#home-feat-text {
background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));
padding: 50px 2.62123197903% 35px; position: absolute;
left: 0;
bottom: 0;
text-align: left;
width: 94.8%; }
#feat-top-wrap #home-feat-text {
padding: 50px 2.16919739696% 30px; width: 95.7%; }
.category #home-feat-text {
padding: 50px 1.87265917603% 20px; width: 96.3%; }
span.feat-cat {
clear: both;
color: #fff;
display: inline-block;
font-family: 'Montserrat', sans-serif;
font-size: .65rem;
font-weight: 700;
line-height: 100%;
margin-bottom: 7px;
padding: 4px 10px;
text-transform: uppercase;
}
#home-feat-wrap span.feat-cat {
margin-bottom: 8px;
}
#home-feat-text h2,
.feat-top2-left-text h2,
.feat-wide1-text h2,
.feat-wide4-text h2 {
color: #fff;
float: left;
font-size: 2.3rem;
font-weight: 800;
line-height: 100%;
margin-bottom: 5px;
-webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
-moz-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
-ms-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
-o-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
text-shadow: 1px 1px 1px rgba(0,0,0,.3);
text-transform: uppercase;
width: 100%;
}
#home-feat-text h2.stand-title,
.feat-top2-left-text h2.stand-title,
.feat-wide1-text h2.stand-title {
font-size: 2rem;
line-height: 120%;
text-transform: none;
}
#home-feat-text p,
.feat-top2-left-text p,
.feat-wide1-text p,
.feat-wide4-text p {
color: #fff;
float: left;
font-size: 1.1rem;
font-weight: 400;
line-height: 120%;
width: 100%;
}
.feat-info-wrap {
position: absolute;
top: 0;
right: 0;
}
#home-feat-wrap .feat-info-wrap,
#feat-wide-wrap .feat-wide5-main .feat-info-wrap {
top: 5px;
right: 10px;
}
#feat-wide-wrap .feat-info-wrap {
top: 10px;
right: 15px;
}
#feat-top-wrap .feat-info-wrap {
top: 5px;
right: 5px;
}
.feat-info-views,
.feat-info-comm {
color: #fff;
display: inline-block;
margin: 10px;
}
.feat-info-comm {
margin-left: 5px;
}
.feat-info-wrap i {
font-size: .8rem;
line-height: 100%;
margin-top: -1px;
vertical-align: top;
}
span.feat-info-text {
font-family: 'Montserrat', sans-serif;
font-size: .7rem;
font-weight: 400;
line-height: 100%;
margin-left: 3px;
vertical-align: top;
}
.feat-title-wrap {
position: absolute;
left: 20px;
bottom: -1px;
}
h3.home-feat-title {
background: #fff;
color: #222;
display: inline-block;
font-size: 13px;
font-weight: 700;
line-height: 100%;
padding: 6px 10px 0;
position: relative;
text-transform: uppercase;
}
h3.home-feat-title:after {
content: '';
border-color: transparent transparent transparent #fff;;
border-style: solid;
border-width: 19px 0 0 15px;
position: absolute;
right: -14.9px;
top: 0;
}
.feat-vid-but {
background: rgba(0,0,0,.3);
border: 4px solid #fff;
font-size: 32px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
margin: -34px 0 0 -34px;
opacity: .75;
position: absolute;
left: 50%;
top: 50%;
width: 60px;
height: 60px;
}
.feat-vid-but i {
-webkit-backface-visibility: hidden; color: #fff;
font-size: 1em;
margin: -26.66666666% 0 0 -16.66666666%;
position: absolute;
top: 50%;
left: 50%;
}
.home-feat-main:hover .feat-vid-but,
ul.side-list li:hover .feat-vid-but,
#feat-wide-main:hover .feat-vid-but,
ul.row-widget-list li:hover .feat-vid-but,
ul.blog-widget-list li:hover .feat-vid-but,
.feat-widget-wrap:hover .feat-vid-but,
ul.mega-list li:hover .feat-vid-but,
ul.archive-col-list li:hover .feat-vid-but,
ul.archive-list li:hover .feat-vid-but,
.feat-wide5-main:hover .feat-vid-but,
.feat-top2-left:hover .feat-vid-but,
.feat-top2-right:hover .feat-vid-but {
background: rgba(0,0,0,.5);
opacity: 1;
}
ul.side-list li .feat-vid-but,
ul.video-thumbs-list li .feat-vid-but {
border: 2px solid #fff;
font-size: 16px;
margin: -17px 0 0 -17px;
width: 30px;
height: 30px;
}
ul.row-widget-list li .feat-vid-but,
ul.blog-widget-list li .feat-vid-but,
.home-right-col .feat-widget-wrap .feat-vid-but,
#post-right-col .feat-widget-wrap .feat-vid-but,
#arch-right-col .feat-widget-wrap .feat-vid-but,
ul.mega-list li .feat-vid-but,
ul.archive-col-list li .feat-vid-but,
ul.archive-list li .feat-vid-but,
.feat-top2-right .feat-vid-but {
border: 3px solid #fff;
font-size: 21.3333333px;
margin: -23px 0 0 -23px;
width: 40px;
height: 40px;
} #body-main-wrap {
padding-top: 15px;
width: 100%;
}
.body-top-pad {
padding-top: 65px !important;
}
.body-main-out {
float: right;
margin-left: -200px;
right: 100px;
width: 100%;
}
.body-main-in {
margin-left: 200px;
}
#body-main-cont {
width: 100%;
}
#home-main-wrap {
width: 100%;
}
.home-wrap-out1 {
float: left;
margin-right: -315px;
position: relative;
width: 100%;
}
.home-wrap-in1 {
margin-right: 315px;
}
#home-left-wrap {
width: 100%;
}
.home-wrap-out2 {
float: right;
margin-left: -315px;
position: relative;
width: 100%;
}
.home-wrap-in2 {
margin-left: 315px;
}
.home-left-col {
float: right;
width: 100%;
z-index: 10;
}
.home-mid-col {
float: left;
margin-right: 15px;
width: 300px;
}
.home-widget-wrap {
width: 100%
}
.home-right-col,
#arch-right-col {
float: right;
margin-left: 15px;
width: 300px;
}
.marg20 {
padding: 0 2.65604249668% 20px; width: 94.6879150066%; }
.side-title-wrap {
width: 100%;
}
.side-title-wrap,
.home-title-wrap {
margin-bottom: 10px;
}
.home-title-wrap {
margin-bottom: 20px;
width: 100%;
}
#sidebar-wrap .home-title-wrap {
margin-bottom: 15px;
}
h3.side-list-title {
color: #222;
display: inline-block;
font-size: 1rem;
font-weight: 700;
line-height: 100%;
position: relative;
text-transform: uppercase;
}
.side-list-wrap {
background: #fff;
width: 100%;
}
ul.side-list {
width: 100%;
}
ul.side-list li {
border-top: 1px solid #ddd;
float: left;
padding: 15px 5%;
position: relative;
width: 90%;
}
ul.side-list li:first-child {
border-top: none;
}
ul.side-list li.side-list-feat {
border-top: none;
overflow: hidden;
}
ul.side-list li.side-after-ad {
border-top: none;
}
.side-list-out {
float: right;
margin-left: -95px;
width: 100%;
}
.side-list-in {
margin-left: 95px;
}
.side-list-img {
background: #000;
line-height: 0;
margin-right: 15px;
overflow: hidden;
width: 80px;
}
.side-list-img img {
opacity: .9;
width: 100%;
}
ul.side-list li:hover .side-list-img img {
opacity: 1;
}
.side-list-text {
width: 100%;
}
.side-list-text p {
float: left;
font-size: .8rem;
font-weight: 400;
line-height: 130%;
width: 100%;
}
span.side-list-cat {
color: #999;
float: left;
font-family: 'Montserrat', sans-serif;
font-size: .65rem;
font-weight: 400;
line-height: 100%;
margin-bottom: 6px;
text-transform: uppercase;
width: 100%;
}
#foot-widget-wrap span.side-list-cat {
display: none;
}
.side-list-full {
overflow: hidden;
width: 100%;
max-height: 200px;
}
.side-full-img {
line-height: 0;
width: 100%;
}
.side-full-text {
background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.6)));
background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
padding: 20px 5.55555555555% 15px; position: absolute;
bottom: 0;
left: 0;
width: 88.9%; }
.side-full-text p {
color: #fff;
float: left;
font-size: .95rem;
font-weight: 700;
line-height: 130%;
-webkit-text-shadow: 1px 1px 1px #000;
-moz-text-shadow: 1px 1px 1px #000;
-ms-text-shadow: 1px 1px 1px #000;
-o-text-shadow: 1px 1px 1px #000;
text-shadow: 1px 1px 1px #000;
width: 100%;	
}
#home-mid-wrap {
background: #fff;
padding-top: 20px;
width: 100%;
}
.home-widget {
border-bottom: 1px solid #ddd;
padding-bottom: 20px;
}
.home-widget,
#home-mid-wrap .feat-widget-cont .home-title-wrap,
#home-mid-wrap .gallery-widget-wrap .home-title-wrap {
margin: 0 2.65604249668% 20px; width: 94.6879150066%; }
ul.row-widget-list {
float: left;
margin-left: -2.65604249668%; width: 102.65604249668%; }
ul.row-widget-list li {
float: left;
margin-left: 2.5873221216%; width: 30.7460112117%; }
#sidebar-wrap ul.row-widget-list,
#sidebar-wrap ul.row-widget-list li {
margin-left: 0;
width: 100%;
}
#sidebar-wrap ul.row-widget-list li {
margin-bottom: 20px;
}
.row-widget-img {
background: #000;
line-height: 0;
margin-bottom: 15px;
overflow: hidden;
position: relative;
width: 100%;
}
#sidebar-wrap .row-widget-img {
max-height: 120px;
}
.row-widget-img img {
opacity: .9;
width: 100%;
}
ul.row-widget-list li:hover .row-widget-img img {
opacity: 1;
}
.row-widget-text {
float: left;
width: 100%;
}
.row-widget-text p {
float: left;
font-size: .8rem;
font-weight: 400;
line-height: 130%;
width: 100%;
}
#sidebar-wrap .blog-widget-wrap .feat-info-wrap,
#foot-widget-wrap .blog-widget-wrap .feat-info-wrap {
display: none;
}
.blog-widget-wrap {
width: 100%;
}
ul.blog-widget-list {
margin-bottom: -20px;
width: 100%;
}
#sidebar-wrap ul.blog-widget-list,
#foot-widget-wrap ul.blog-widget-list {
margin-bottom: -15px;
}
ul.blog-widget-list li {
border-top: 1px solid #ddd;
float: left;
padding: 20px 0;
width: 100%;
}
#foot-widget-wrap ul.blog-widget-list li {
border-top: 1px solid #555;
}
#sidebar-wrap ul.blog-widget-list li {
padding: 15px 0;
}
#foot-widget-wrap ul.blog-widget-list li {
padding: 8px 0;
}
ul.blog-widget-list li:first-child,
#sidebar-wrap ul.blog-widget-list li:first-child,
#foot-widget-wrap ul.blog-widget-list li:first-child {
border-top: none;
padding-top: 0;
}
.blog-widget-img {
background: #000;
line-height: 0;
margin-right: 3.11041990669%; overflow: hidden;
width: 34.2146189736%; }
#sidebar-wrap .blog-widget-img {
margin-right: 15px;
width: 80px;
}
#foot-widget-wrap .blog-widget-img {
display: none;
}
#post-more-wrap .blog-widget-img {
max-height: 150px;
}
.blog-widget-img img {
opacity: .9;
width: 100%;
}
ul.blog-widget-list li:hover .blog-widget-img img {
opacity: 1;
}
.blog-widget-text {
width: 62.6749611198%; }
#sidebar-wrap .blog-widget-text {
width: 175px;
}
#foot-widget-wrap .blog-widget-text {
width: 100%;
}
.blog-widget-text h2 {
font-size: 1.15rem;
font-weight: 400;
}
#foot-widget-wrap .blog-widget-text h2 {
color: #999;
}
#post-more-wrap .blog-widget-text h2 {
font-size: 1.4rem;
font-weight: 800;
}
#sidebar-wrap .blog-widget-text h2,
#foot-widget-wrap .blog-widget-text h2 {
font-size: .8rem;
}
#sidebar-wrap .blog-widget-text p,
#foot-widget-wrap .blog-widget-text p {
display: none;
}
#foot-widget-wrap ul.blog-widget-list li:hover .blog-widget-text h2 {
color: #fff !important;
} #sidebar-wrap {
width: 100%;
}
#sidebar-wrap h4.post-header {
margin-bottom: 15px;
}
.side-widget-wrap {
width: 100%;
}
.side-widget {
background: #fff;
float: left;
margin-top: 15px;
padding: 15px 5%;
position: relative;
width: 90%;
}
#sidebar-wrap div:first-child {
margin-top: 0;
}
#sidebar-wrap .feat-info-views,
#sidebar-wrap .feat-info-comm {
margin-top: 10px !important;
}
.widget-ad {
background: #eee;
line-height: 0;
margin-top: 15px;
overflow: hidden;
text-align: center;
width: 100%;
}
ul.side-list li.latest-ad {
background: #eee;
line-height: 0;
margin: 0;
overflow: hidden;
padding: 0;
text-align: center;
width: 100%;
}
#home-mid-wrap .widget-img-side,
#sidebar-wrap .widget-img-main,
#foot-widget-wrap .widget-img-main {
display: none;
}
.side-pop-wrap {
width: 100%;
}
.feat-widget-cont,
.feat-widget-in {
width: 100%;
}
#sidebar-wrap .feat-widget-cont {
margin-top: 15px;
}
.feat-widget-wrap {
background: #fff;
overflow: hidden;
width: 100%;
}
#sidebar-wrap .feat-widget-wrap,
.side-pop-wrap .feat-widget-wrap {
margin-top: 15px;
}
#sidebar-wrap .feat-widget-wrap:first-child,
.side-pop-wrap .feat-widget-wrap:first-child {
margin-top: 0;
}
.feat-widget-img {
background: #000;
line-height: 0;
overflow: hidden;
width: 100%;
max-height: 120px;
}
.feat-widget-img img {
opacity: .9;
width: 100%;
}
.feat-widget-wrap:hover .feat-widget-img img {
opacity: 1;
}
#home-mid-wrap .feat-widget-img {
max-height: 300px;
}
.feat-widget-text {
background: #fff;
float: left;
padding: 15px 5% 15px; position: relative;
width: 90%; }
#home-mid-wrap .feat-widget-text {
background: #fff;
border-bottom: 1px solid #ddd;
margin: 20px 2.65604249668% 20px; padding: 0 0 20px;
width: 94.6879150066%; }
.feat-widget-text h2 {
font-size: .9rem;
font-weight: 400;
}
.feat-widget-text h2,
.blog-widget-text h2 {
float: left;
line-height: 130%;
width: 100%;
}
#home-mid-wrap .feat-widget-text h2 {
font-size: 1.15rem;
}
.blog-widget-text p,
.feat-widget-text p {
color: #777;
float: left;
font-size: .9rem;
font-weight: 400;
line-height: 130%;
margin-top: 5px;
width: 100%;
}
#sidebar-wrap .feat-widget-text p {
display: none;
}
.more-posts-wrap {
margin-top: 15px;
text-align: center;
width: 100%;
}
span.more-posts-text {
background: #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
display: inline-block;
font-family: 'Montserrat', sans-serif;
font-size: .8rem;
font-weight: 700;
line-height: 100%;
padding: 8px 0;
text-align: center;
text-transform: uppercase;
width: 99%;
}
span.more-posts-text:hover {
color: #fff !important;
}
.mvp_facebook_widget {
text-align: center;
}
.widget_calendar {
float: left;
}
#wp-calendar {
width: 100%;
}
#wp-calendar caption {
text-align: right;
color: #333;
font-size: 12px;
margin-bottom: 15px;
}
#wp-calendar thead {
font-size: 10px;
}
#wp-calendar thead th {
padding-bottom: 10px;
}
#wp-calendar tbody {
color: #aaa;
}
#wp-calendar tbody td {
background: #f5f5f5;
border: 1px solid #fff;
text-align: center;
padding:8px;
}
#wp-calendar tbody td:hover {
background: #fff;
}
#wp-calendar tbody .pad {
background: none;
}
#wp-calendar tfoot #next {
font-size: 10px;
text-transform: uppercase;
text-align: right;
}
#wp-calendar tfoot #prev {
font-size: 10px;
text-transform: uppercase;
padding-top: 10px;
} #post-main-wrap {
width: 100%;
}
.post-wrap-out1 {
float: left;
margin-right: -315px;
position: relative;
width: 100%;
}
.post-wrap-in1 {
margin-right: 315px;
}
#post-right-col {
float: right;
margin-left: 15px;
width: 300px;
}
#post-right-col ul.side-list li:hover {
background: #fff;
}
#post-left-col {
background: #fff;
float: left;
width: 100%;
z-index: 10;
}
#post-left-col hr {
float: left;
margin: 0;
opacity: 0;
}
article#post-area {
border-bottom: 1px solid #ddd;
float: left;
overflow: hidden;
position: relative;
width: 100%;
height: 100%;
}
#post-header {
display: table;
margin: 30px auto 30px;
max-width: 750px;
padding: 0 10%;
width: 80%;
}
.page #post-header {
margin-bottom: 0;
}
span.post-head-cat {
clear: both;
color: #fff;
display: inline-block;
float: left;
font-family: helvetica, arial, sans-serif;
font-size: .65rem;
font-weight: bold;
line-height: 100%;
margin-bottom: 7px;
padding: 4px 15px;
text-transform: uppercase;
}
h1.post-title,
#content-main h1.post-title {
color: #222;
font-size: 2.6rem;
font-weight: 800;
line-height: 110%;
text-transform: none;
width: 100%;
}
#content-main h1.post-title {
font-size: 2.2rem;
}
#post-info-wrap {
margin-top: 10px;
width: 100%;
}
.post-info-out {
float: right;
margin-left: -70px;
position: relative;
width: 100%;
}
.post-info-in {
margin-left: 70px;
}
.post-info-img {
margin-right: 20px;
overflow: hidden;
width: 50px;
height: 50px;
}
.post-info-img img {
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
line-height: 0;
}
.post-info-right {
font-weight: 400;
line-height: 100%;
margin-top: 5px;
width: 100%;
}
.post-info-name {
border-bottom: 1px solid #ddd;
color: #555;
font-size: .9rem;
margin-bottom: 5px;
padding-bottom: 5px;
width: 100%;
}
.post-info-name span {
float: left;
}
.post-info-name a {
font-weight: 400;
}
span.author-name {
margin-left: 3px;
}
span.author-twitter {
font-size: 17px;
line-height: 100%;
margin-left: 10px;
}
span.author-email {
font-size: 13px;
line-height: 100%;
margin: 2px 0 0 10px;
}
span.author-twitter a,
span.author-email a {
color: #ccc;
}
.post-info-date {
color: #bbb;
font-size: .8rem;
}
#post-feat-img {
line-height: 0;
overflow: hidden;
width: 100%;
max-height: 500px;
}
#content-main #post-feat-img {
margin-bottom: 30px;
}
#post-feat-img img {
line-height: 0;
width: 100%;
}
.mvp-post-img-hide {
display: none;
}
#video-embed,
span.embed-youtube {
overflow: hidden;
padding-bottom: 56.25%;
position: relative;
text-align: center;
width: 100%;
height: 0;
}
#video-embed iframe,
#video-embed object,
#video-embed embed,
span.embed-youtube iframe,
span.embed-youtube object,
span.embed-youtube embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
#content-main #video-embed {
margin-bottom: 20px;
}
#content-main .video-container {
margin-bottom: 20px;
position: relative;
padding-bottom: 56.25%;
height: 0;
overflow: hidden;
}
#content-main .video-container iframe,
#content-main .video-container object,
#content-main .video-container embed,
#content-main .video-container video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.post-feat-text {
background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.6)));
background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
padding: 40px 1.9550342131% 20px; position: absolute;
left: 0;
bottom: 0;
width: 96.0899315738%; }
span.post-excerpt p,
#content-main span.post-excerpt p {
color: #fff;
font-size: 1rem;
font-weight: 400;
line-height: 130%;
margin-bottom: 0;
width: 65%;
}
span.feat-caption {
color: #ddd;
font-size: .65rem;
font-weight: 400;
line-height: 120%;
position: absolute;
right: 10px;
bottom: 10px;
text-align: right;
text-transform: uppercase;
width: 30%;
}
#content-area {
float: left;
padding: 30px 2.93255131965%; position: relative;
width: 94.1348973607%; }
.post-cont-out {
float: left;
margin-right: -330px;
position: relative;
width: 100%;
}
.post-cont-in {
margin-right: 330px;
}
#content-main {
width: 100%;
}
.cont-part-main {
display: table;
float: none;
margin: 0 auto;
max-width: 750px;
}
.social-sharing-top,
.social-sharing-bot {
float: left;
position: relative;
text-align: center;
width: 100%;
}
.social-sharing-top,
.social-sharing-bot {
margin-bottom: 30px;
}
.share-count {
display: inline-block;
margin-top: -6px;
overflow: hidden;
text-align: center;
vertical-align: top;
width: 15%;
}
span.soc-count-num,
span.soc-count-text {
float: left;
text-transform: uppercase;
width: 100%;
}
span.soc-count-num {
color: #444;
font-family: 'Work Sans', sans-serif;
font-size: 26px;
font-weight: 900;
line-height: 100%;
width: 100%;
}
span.soc-count-text {
color: #999;
font-size: 10px;
font-weight: 400;
line-height: 100%;
width: 100%;
}
.social-sharing-top span,
.social-sharing-bot span {
display: inline-block;
overflow: hidden;
vertical-align: top;
}
.fb-but1,
.twitter-but1,
.pinterest-but1,
.whatsapp-but1,
.email-but {
height: 26px;
}
.social-sharing-top i,
.social-sharing-bot i {
color: #fff;
font-size: 14px;
padding: 6px 0;
line-height: 100%;
}
.facebook-share,
.twitter-share,
.pinterest-share,
.email-share,
.social-comments,
.whatsapp-share {
border-radius: 3px;
display: inline-block;
margin-left: .1%;
text-align: center;
vertical-align: top;
width: 15.6%;
max-width: 200px;
height: 26px;
}
.whatsapp-share {
display: none;
}
.video-main-text .social-sharing-top a:first-child div,
.social-sharing-top a:first-child div,
.social-sharing-bot a:first-child div {
margin-left: 0;
}
span.social-text,
span.social-text-com {
color: #fff;
font-family: 'Montserrat', sans-serif;
font-size: 10px;
font-weight: 400;
line-height: 100%;
padding: 8px 0 8px 10px;
text-transform: uppercase;
}
.facebook-share {
background: #3e64ad;
}
.twitter-share {
background: #6aadd1;
}
.pinterest-share {
background: #de010d;
}
.email-share {
background: #aaa;
}
.whatsapp-share {
background: #6cd94e;
}
.social-comments {
border: 1px solid #bbb;
background: #fff;
overflow: hidden;
height: 24px;
}
.social-comments i {
color: #bbb;
font-size: 14px;
padding: 4px 0 6px;
line-height: 100%;
position: relative;
vertical-align: top;
}
span.social-text-com {
color: #999;
display: inline-block;
padding: 0;
}
.soc-disqus-but {
margin-right: 0 !important;
}
.social-comments span.social-text-com {
color: #999;
display: inline-block;
font-weight: 700;
position: relative;
padding: 7px 0 7px 5px;
vertical-align: top;
z-index: 1;
}
.facebook-share:hover,
.twitter-share:hover,
.pinterest-share:hover,
.social-comments:hover,
.email-share:hover {
opacity: .85;
}
#content-main p {
color: #222;
display: block;
font-size: 1rem;
font-weight: 400;
line-height: 155%;
margin-bottom: 20px;
}
#post-sidebar-wrap {
float: right;
line-height: 0;
margin-left: 30px;
position: relative;
text-align: center;
width: 300px;
}
.post-tags {
float: left;
font-family: 'Montserrat', sans-serif;
font-size: .75rem;
font-weight: 400;
line-height: 120%;
margin-bottom: 30px;
text-transform: uppercase;
width: 100%;
}
.post-tags-header {
color: #555;
font-weight: 800;
margin-right: 5px;
}
#article-ad {
float: left;
line-height: 0;
overflow: hidden;
margin-bottom: 30px;
position: relative;
text-align: center;
width: 100%;
}
.article-ad-part {
margin: 30px 0 0 !important;
}
.wp-caption,
#content-main p.wp-caption-text,
.gallery-caption {
color: #777;
font-size: .8rem;
margin-top: 5px;
margin-bottom: 30px;
max-width: 100%;
text-align: left;
}
.screen-reader-text {
clip: rect(1px, 1px, 1px, 1px);
position: absolute !important;
height: 1px;
width: 1px;
overflow: hidden;
}
.screen-reader-text:focus {
background-color: #f1f1f1;
border-radius: 3px;
box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
clip: auto !important;
color: #21759b;
display: block;
font-size: 14px;
font-size: 0.875rem;
font-weight: bold;
height: auto;
left: 5px;
line-height: normal;
padding: 15px 23px 14px;
text-decoration: none;
top: 5px;
width: auto;
z-index: 100000; }
.sticky {
}
.bypostauthor {
}
.posts-nav-link {
display: none;
}
#content-main ul {
list-style: disc outside;
margin: 10px 0;
}
#content-main ol {
list-style: decimal outside;
margin: 10px 0;
}
#content-main ul li,
#content-main ol li {
margin-left: 50px;
padding: 5px 0px;
}
#content-main h1,
#content-main h2,
#content-main h3,
#content-main h4,
#content-main h5,
#content-main h6 {
font-weight: 700;
line-height: 120%;
margin: 10px 0;
overflow: hidden;
text-transform: uppercase;
width: 100%;
}
#content-main h1 {
font-size: 1.6rem;
}
#content-main h2 {
font-size: 1.4rem;
}
#content-main h3 {
font-size: 1.2rem;
}
#content-main h4 {
font-size: 1rem;
}
#content-main h5 {
font-size: .8rem;
}
#content-main h6 {
font-size: .6rem;
}
#content-main blockquote p {
color: #555;
font-size: 1.6rem;
font-weight: 700;
line-height: 130%;
margin: 30px 10%;
width: 80%;
}
#content-main blockquote p cite {
color: #555;
display: inline-block;
font-size: .7rem;
font-weight: 400;
}
#content-main dt {
font-weight: bold;
}
#content-main dd {
margin-left: 20px;
}
#content-main abbr,
#content-main acronym {
font-weight: bold;
text-transform: uppercase;
}
#content-main code {
font-size: 1.1rem;
}
#content-main sub {
font-size: smaller;
vertical-align: sub;
}
#content-main sup {
font-size: smaller;
vertical-align: super;
}
#content-main table {
font-size: .9rem;
width: 100%;
}
#content-main td,
#content-main th {
padding: 0 1.5%;
}
#content-main tr.odd {
background: #eee;
}
#post-more-wrap {
display: none;
padding: 30px 2.93255131965%; width: 94.1348973607%; }
#prev-post-wrap,
#next-post-wrap {
margin-top: -40px;
position: fixed;
top: 50%;
width: 55px;
height: 80px;
z-index: 4000;
}
#prev-post-wrap {
left: 0;
}
#next-post-wrap {
right: 0;
text-align: right;
}
#prev-post-arrow,
#next-post-arrow {
color: #777;
cursor: pointer;
font-size: 80px;
line-height: 100%;
}
#prev-post-arrow {
margin-left: 10px;
}
#next-post-arrow {
margin-right: 10px;
}
.prev-next-text {
position: absolute;
top: 0;
-webkit-transition: all .3s;
transition: all .3s;
}
.prev-next-text a,
.prev-next-text a:visited,
.prev-next-text a:hover {
color: #fff;
float: left;
font-size: .95rem;
font-weight: 400;
line-height: 130%;
padding: 15px;
width: 280px;
}
#prev-post-wrap .prev-next-text {
left: -9999px;
}
#prev-post-wrap:hover .prev-next-text {
left: 0;
}
#next-post-wrap .prev-next-text {
right: -9999px;
text-align: left;
}
#next-post-wrap:hover .prev-next-text {
right: 0;
}
nav.post-navigation h2 {
display: none;
}
.theiaPostSlider_nav {
display: inline-block;
}
#post-wide-wrap {
background: #333;
margin: -15px 0 15px;
}
#post-wide-wrap,
.post-wide-img1 {
width: 100%;
}
.post-wide-img1 {
line-height: 0;
overflow:hidden;
max-height: 650px;
}
.post-wide-img1 img {
width: 100%;
}
.post-wide-text1 {
background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));
background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
padding: 60px 25% 30px;
position: absolute;
bottom: 0;
left: 0;
width: 50%; 
}
h1.post-title-wide {
color: #fff;
font-size: 3.1rem;
font-weight: 800;
line-height: 110%;
-webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
-moz-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
-ms-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
-o-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
text-shadow: 1px 1px 1px rgba(0,0,0,.3);
width: 100%;
}
.post-wide-text1 span.post-excerpt p {
font-size: 1.2rem;
margin-top: 10px;
width: 100%;
}
#content-main #post-header {
margin: 0 0 30px;
padding: 0;
width: 100%;
max-width: none;
}
#post-wide-video {
display: table;
margin: 30px auto;
max-width: 1100px;
padding: 0 10%;
width: 80%;
}
.page-template-page-fullwidth #main-nav-wrap {
border-bottom: 1px solid #ddd;
}
.page-template-page-fullwidth #body-main-wrap {
background: #fff;
}
.post-gallery-wrap,
.gallery-widget-wrap {
margin-bottom: 20px;
overflow: hidden;
width: 100%;
}
.post-gallery-wrap {
background: #222;
}
.gallery-widget-wrap {
background: #fff;
}
.post-gallery-top {
line-height: 0;
margin-bottom: 10px;
width: 100%;
}
ul.post-gallery-top-list li {
display: none !important;
overflow: hidden;
}
.gallery-widget-wrap ul.post-gallery-top-list li {
max-height: 300px;
}
ul.post-gallery-top-list li img {
opacity: .9;
width: 100%;
}
ul.post-gallery-top-list li.flex-active-slide {
display: block !important;
}
.post-gallery-top .flex-direction-nav a {
-webkit-text-shadow: 1px 1px 3px rgba(0,0,0,.5);
-moz-text-shadow: 1px 1px 3px rgba(0,0,0,.5);
-ms-text-shadow: 1px 1px 3px rgba(0,0,0,.5);
-o-text-shadow: 1px 1px 3px rgba(0,0,0,.5);
text-shadow: 1px 1px 3px rgba(0,0,0,.5);
color: #fff;
font-family: 'Quicksand', sans-serif;
font-size: 70px;
font-weight: 400;
line-height: 100%;
margin-top: -35px;
opacity: 0;
position: absolute;
top: 50%;
z-index: 10;
}
.post-gallery-top .flex-direction-nav .flex-prev {
left: 0;
margin-left: 10px;
}
.post-gallery-top .flex-direction-nav .flex-next {
right: 0;
margin-right: 10px;
}
.post-gallery-top:hover .flex-direction-nav a {
opacity: .7;
}
.post-gallery-top .flex-direction-nav a:hover {
opacity: 1;
}
.gallery-widget-text {
background: rgba(0,0,0,0.4);
padding: 10px 3%;
position: absolute;
bottom: 0;
left: 0;
text-align: center;
width: 94%;
}
.gallery-widget-text p {
color: #fff;
font-family: 'Montserrat', sans-serif;
font-size: .9rem;
font-weight: 700;
line-height: 120%;
}
.post-gallery-bot {
margin-bottom: 10px;
width: 100%;
height: 80px;
}
.gallery-widget-wrap .post-gallery-bot {
border-bottom: 1px solid #ddd;
margin: 0 2.65604249668%; overflow: hidden;
width: 94.6879150066%; height: 100px;
}
ul.post-gallery-bot-list {
float: left;
overflow: hidden;
height: 80px;
}
ul.post-gallery-bot-list li {
cursor: pointer;
float: left;
margin-left: 10px !important;
width: 80px;
}
.gallery-widget-wrap ul.post-gallery-bot-list li:first-child {
margin-left: 0 !important;
}
ul.post-gallery-bot-list li img {
opacity: .4;
}
ul.post-gallery-bot-list li.flex-active-slide img,
ul.post-gallery-bot-list li:hover img {
opacity: 1;
}
.post-gallery-bot ul.flex-direction-nav {
display: none;
}
#content-main ul.post-gallery-top-list,
#content-main ul.post-gallery-bot-list {
list-style: none;
margin: 0;
width: 100%;
}
#content-main ul.post-gallery-top-list li,
#content-main ul.post-gallery-bot-list li,
#content-main ul.flex-direction-nav li {
float: left;
margin: 0;
padding: 0;
}
#content-main ul.flex-direction-nav {
list-style: none;
margin: 0;
}
#content-main h4.post-header {
margin-bottom: 20px !important;
}
.mvp-related-posts {
margin-bottom: 30px;
width: 100%;
}
.mvp-related-posts ul {
list-style: none !important;
margin: 0 !important;
width: 100%;
}
.mvp-related-posts ul li {
float: left;
margin-left: 2.96296296296% !important; overflow: hidden;
padding: 0 !important;
width: 31.3580246914%; }
.mvp-related-posts ul li:first-child {
margin-left: 0 !important;
}
.mvp-related-img {
background: #000;
line-height: 0;
margin-bottom: 10px;
overflow: hidden;
width: 100%;
max-height: 130px;
}
.mvp-related-img img {
opacity: .9;
width: 100%;
}
.mvp-related-posts ul li:hover .mvp-related-img img {
opacity: 1;
}
.mvp-related-text {
width: 100%;
}
.mvp-related-text a {
font-size: .9rem;
font-weight: 400;
line-height: 130%;
}
.theiaPostSlider_nav {
width: 100%;
}
.mvp-org-wrap,
.mvp-org-logo,
.mvp-meta-wide-title {
display: none;
} #comments-button {
text-align: center;
width: 100%;
}
#comments-button a,
#comments-button span.comment-but-text {
background: #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
cursor: pointer;
display: inline-block;
font-family: 'Montserrat', sans-serif;
font-size: .8rem;
font-weight: 400;
line-height: 100%;
padding: 15px 0;
text-transform: uppercase;
width: 60%;
}
#comments-button a:hover,
#comments-button span.comment-but-text:hover {
color: #fff !important;
}
h4.post-header {
border-top: 4px solid #eee;
float: left;
margin-bottom: 30px;
position: relative;
text-align: center;
width: 100%;
}
#content-main h4.post-header {
overflow: visible;
}
span.post-header {
color: #222;
float: left;
font-size: .9rem;
font-weight: 700;
line-height: 100%;
margin-top: -4px;
padding-top: 5px;
position: relative;
text-transform: uppercase;
}
h3.comment-header {
color: #fff;
float: left;
font: 400 12px/12px 'Oswald', sans-serif;
position: relative;
text-transform: uppercase;
}
#commentspopup .comments-pop {
background: #fff;
margin-top: 0;
padding: 20px 5%; width: 90%; }
#commentspopup #content-main h1 {
font-size: 1.4rem;
font-weight: 800;
line-height: 110%;
margin: 0 0 20px;
text-align: center;
text-transform: none;
}
#commentspopup p {
float: left;
}
#commentspopup h4.post-header {
margin-bottom: 20px;
}
#commentspopup #comments .comment-meta-2 {
color: #999;
margin-bottom: 10px;
}
#comments {
display: none;
float: left;
font-size: .8rem;
line-height: 120%;
margin-top: 30px;
overflow: hidden;
width: 100%;
}
.woocommerce #comments {
display: block;
margin-top: 0;
}
#disqus_thread {
display: none;
margin-top: 30px;
}
#commentspopup #comments,
#commentspopup #disqus_thread {
display: block;
}
.comment-inner {
border-bottom: 1px solid #ddd;
margin-bottom: 10px;
padding: 10px 0 0;
}
#comments .comment-inner:after {
content: '';
display: block;
clear: both;
}
#comments .comment-avatar,
#tab3 .comment-avatar {
float: left;
width: 46px;
}
#comments .avatar {
display: block;
background-color: #fff;
}
.comment-avatar img {
-webkit-border-radius: 23px;
-moz-border-radius: 23px;
-ms-border-radius: 23px;
-o-border-radius: 23px;
border-radius: 23px;
overflow: hidden;
}
#comments .commentmeta {
display: block;
float: left;
margin: 0 10px 10px;
width: 75%;
}
.comment-reply a,
#cancel-comment-reply-link {
clear: both;
color: #fff;
font: 700 10px/100% 'Lato', sans-serif;
padding: 5px 10px;
text-transform: uppercase;
}
.comment-reply a {
background: #888;
float: right;
}
#cancel-comment-reply-link {
background: #999;
float: left;
margin: 0 0 10px 20px;
}
.comment-reply a:hover,
#cancel-comment-reply-link:hover {
background: #555;
color: #fff;
text-decoration: none;
}
#content-main ol.commentlist {
float: left;
list-style: none;
margin: 0;
width: 100%;
}
#content-main ol.commentlist li {
margin: 0;
padding: 0;
}
ol.commentlist h3.comment-header {
display: none;
}
ol.commentlist #respond {
border-top: none;
}
#comments .comment-meta-1 {
display: block;
float: left;
font: bold 14px/normal helvetica, arial, sans-serif;
margin-bottom: 5px;
width: 100%;
}
#comments .comment-meta-1 .fn {
float: left;
font-style: normal;
font-weight: bold;
width: auto;
}
#comments .comment-meta-1 .reply {
display: inline-block;
float: right;
font-size: 11px;
line-height: 11px;
padding-top: 2px;
}
#comments .comment-meta-1 .reply a {
color: #555;
}
#comments .comment-meta-2  {
display: block;
float: left;
font-size: .75rem;
line-height: 100%;
margin: 0;
}
#comments .text {
clear: both;
display: block;
float: left;
margin-top: 10px;
}
#comments .text .waiting_approval {
font-size: 14px;
font-style: italic;
font-weight: bold;
}
#comments .c {
line-height: 20px;
}
#comments .c p,
#comments .c code,
#comments .c blockquote,
#comments .c ul,
#comments .c ol {
display: block;
margin: 5px 0;
}
#comments .c p {
font-size: 1rem;
}
#comments .c a {
text-decoration: underline;
}
#comments .c a:hover {
text-decoration: none;
}
#comments .depth-2 .comment-wrapper {
padding-left: 40px;
}
#comments .depth-2 .commentmeta {
width: 75%;
}
#comments .depth-3 .comment-wrapper {
padding-left: 80px;
}
#comments .depth-3 .commentmeta {
width: 75%;
}
#comments .depth-4 .comment-wrapper {
padding-left: 120px;
}
#comments .depth-4 .commentmeta {
width: 75%;
}
#comments .depth-5 .comment-wrapper {
padding-left: 160px;
}
#comments .depth-5 .commentmeta {
width: 75%;
}
#respond {
clear: both;
position: relative;
}
#respond form {
float: left;
padding-bottom: 20px;
width: 100%;
}
#respond p {
font: 12px/normal helvetica, arial, sans-serif;
margin: 0;
}
#respond .logged-in-as {
margin-bottom: 10px;
}
#respond .comment-notes {
margin-bottom: 1rem;
}
.children #respond {
margin: 0 48px 0 0;
}
#comments-list #respond {
margin: 0 0 18px 0;
}
#comments-list ul #respond {
margin: 0;
}
#respond .required {
color: #ff4b33;
font-weight: bold;
}
#respond label {
color: #888;
font-size: 12px;
}
#respond input {
background: #f6f6f6;
border: 1px solid #ddd;
-webkit-box-shadow: 2px 2px 5px 0px #eee inset;
-moz-box-shadow: 2px 2px 5px 0px #eee inset;
-ms-box-shadow: 2px 2px 5px 0px #eee inset;
-o-box-shadow: 2px 2px 5px 0px #eee inset;
box-shadow: 2px 2px 5px 0px #eee inset;
display:block;
margin: 0 0 9px;
padding:5px;
width: auto;
}
#respond textarea {
background: #f6f6f6;
border: 1px solid #ddd;
-webkit-box-shadow: 2px 2px 5px 0px #eee inset;
-moz-box-shadow: 2px 2px 5px 0px #eee inset;
-ms-box-shadow: 2px 2px 5px 0px #eee inset;
-o-box-shadow: 2px 2px 5px 0px #eee inset;
box-shadow: 2px 2px 5px 0px #eee inset;
width: 99%;
}
#respond #submit {
background: #555;
border: 0;
box-shadow: none;
color: #fff;
cursor:pointer;
font: 700 12px/100% 'Open Sans', sans-serif;
margin-top:10px;
padding: 5px 10px;
width: 120px;
}
#respond #submit:hover {
background: #333;
}
h3#reply-title,
h2.comments {
color: #fff;
font: 700 14px/100% 'Oswald', sans-serif;
margin-bottom: 10px;
padding: 5px 10px;
text-shadow: 1px 1px 0 #000;
text-transform: uppercase;
}
h3#reply-title {
display: none;
}
span.comments {
background: #fff;
color: #aaa;
float: left;
font-size: 20px;
line-height: 100%;
padding-right: 15px;
text-transform: uppercase;
}
span.comments a {
color: #666;
}
span.comments a:hover {
color: #f00;
text-decoration: none;
}
#comment-input label {
margin-bottom: 10px;
}
p.cancel-comment-reply {
clear: both;
}
p.form-allowed-tags {
display: none !important;
}
.fb-comments,
.fb-comments span {
width: 100% !important;
} h1.cat-head,
h1.arch-head {
color: #222;
font-weight: 800;
line-height: 100%;
text-transform: uppercase;
width: 100%;
}
h1.cat-head {
font-size: 1.4rem;
margin-bottom: 15px;
}
h1.arch-head {
font-size: 1.4rem;
margin: 20px 0 50px;
text-align: center;
}
#archive-list-wrap {
padding: 0 1.87265917603% 20px; width: 96.2546816479%; }
ul.archive-list {
width: 100%;
}
ul.archive-col-list {
margin-left: -1.94552529183%; width: 101.94552529183%; }
ul.archive-list li {
float: left;
border-top: 1px solid #ddd;
padding: 20px 0;
position: relative;
width: 100%;
}
ul.archive-col-list li {
float: left;
margin: 0 0 20px 1.90839694656%; overflow: hidden;
position: relative;
width: 31.4249363868%; height: 320px;
}
ul.archive-list li:first-child {
border-top: none;
padding-top: 0;
}
ul.archive-list li:last-child {
padding-bottom: 0;
}
.archive-list-out {
float: right;
margin-left: -370px;
position: relative;
width: 100%;
}
.archive-list-in {
margin-left: 370px;
}
ul.archive-col-list li .archive-list-out,
ul.archive-col-list li .archive-list-in {
float: left;
margin-left: 0;
}
.archive-list-img {
background: #000;
line-height: 0;
margin-right: 20px;
overflow: hidden;
width: 350px;
max-height: 140px;
}
ul.archive-col-list li .archive-list-img {
margin: 0 0 10px 0;
width: 100%;
}
.archive-list-img img {
opacity: .9;
width: 100%;
}
ul.archive-list li:hover .archive-list-img img,
ul.archive-col-list li:hover .archive-list-img img {
opacity: 1;
}
.archive-list-text {
width: 100%;
}
.archive-list-text h2 {
float: left;
font-size: 1.15rem;
font-weight: 400;
line-height: 130%;
width: 100%;
}
.archive-list-text p {
color: #777;
float: left;
font-size: .9rem;
font-weight: 400;
line-height: 130%;
margin-top: 5px;
width: 100%;
}
#archive-list-wrap #infscr-loading {
margin-bottom: 0;
}
.archive-list-left {
width: 100%;
}
h2.author-list-head {
color: #222;
font-size: 1.2rem;
font-weight: 400;
line-height: 120%;
margin-bottom: 10px;
width: 100%;
}
h2.author-list-head a {
color: #222;
}
.author-page-box {
border-bottom: 1px solid #ddd;
margin-bottom: 15px;
padding-bottom: 15px;
width: 100%;
}
.author-page-out {
float: right;
margin-left: -93px;
width: 100%;
}
.author-page-in {
margin-left: 93px;
}
.author-page-img {
line-height: 0;
margin-right: 30px;
width: 63px;
}
.author-page-img {
overflow: hidden;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
}
.author-page-text {
width: 100%;
}
.author-page-text h1.cat-head {
font-size: 1.5rem;
margin-bottom: 15px;
text-align: left;
}
.author-box-bot {
margin-bottom: 30px;
width: 100%;
}
.author-box-bot p {
color: #777;
font-size: 1rem;
font-weight: 400;
line-height: 155%;
margin-bottom: 15px;
}
ul.author-social {
width: 100%;
}
ul.author-social li {
float: left;
margin-left: 10px;
width: 24px;
}
ul.author-social li:first-child {
margin-left: 0;
}
ul.author-social li a {
color: #bbb;
}
ul.author-social li a:hover {
color: #555;
}
ul.author-social li i {
font-size: 24px;
}
.mvp-search-text {
margin: 0 5% 50px;
text-align: center;
width: 90%;
}
#bbpress-forums,
#bbpress-forums p {
font-family: helvetica, arial, sans-serif;
}
#bbpress-forums ol,
#bbpress-forums ul {
list-style: none;
margin: 0;
}
#bbpress-forums ul li,
#bbpress-forums ol li {
margin-left: 0;
padding: 0;
}
div.bbp-breadcrumb,
div.bbp-topic-tags,
div.bbp-breadcrumb a,
div.bbp-breadcrumb span {
font-size: .75rem;
}
#subscription-toggle {
float: left;
margin: 5px 0 15px;
width: 100%;
}
#post-404 {
margin: 150px 0 200px;
text-align: center;
width: 100%;
}
#post-404 h1 {
color: #222;
font-size: 4rem;
font-weight: 900;
line-height: 100%;
margin-bottom: 20px;
}
#post-404 p {
color: #999;
font-size: 1rem;
line-height: 130%;
} #latest-video-wrap {
margin-bottom: 15px;
width: 100%;
}
#latest-video-main {
background: #222;
overflow: hidden;
width: 100%;
}
.video-main-top {
width: 68.1647940075%; }
.video-main-text {
padding: 20px 1.87265917603%; width: 28.0898876404%; }
.video-main-text h2,
.video-main-text p {
line-height: 130%;
width: 100%;
}
.video-main-text h2 {
color: #fff;
font-size: 1.4rem;
font-weight: 700;
margin-bottom: 5px;
}
.video-main-text p {
color: #ddd;
font-size: .9rem;
}
.video-main-text .social-sharing-top {
margin: 20px 0 0;
text-align: left;
}
.video-main-text span.social-text {
display: none;
}
.video-main-text .facebook-share,
.video-main-text .twitter-share,
.video-main-text .pinterest-share,
.video-main-text .email-share {
background: #555;
display: block;
float: left;
margin-left: 1.666666666666%; width: 23.75%; max-width: 100px;
} #woo-content {
float: left;
position: relative;
width: 100%;
}
#woo-content h1.page-title {
color: #222;
font-size: 2.9rem;
font-weight: 400;
line-height: 100%;
margin-bottom: 30px;
text-align: center;
text-transform: uppercase;
width: 100%;
}
#woo-content p {
color: #222;
display: block;
font-size: .95rem;
font-weight: 400;
line-height: 155%;
margin-bottom: 20px;
}
#woo-content .summary p {
color: #555;
}
#woo-content .summary p.price {
color: #222;
}
.woocommerce div.product .woocommerce-product-rating {
margin-bottom: 15px;
}
.woocommerce div.product form.cart {
margin-top: 15px;
}
.woocommerce .woocommerce-breadcrumb {
border-bottom: 1px solid #ddd;
font-size: .75rem;
line-height: 100%;
margin-bottom: 20px;
padding-bottom: 20px;
}
.woocommerce div.product .product_title {
font-size: 1.7rem;
font-weight: 400;
line-height: 130%;
margin-bottom: 15px;
}
.woocommerce div.product p.price {
margin-bottom: 15px;
}
.woocommerce div.product p.price del,
.woocommerce div.product span.price del,
.woocommerce ul.products li.product .price del {
display: inline-block;
margin-right: 10px;
}
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins,
.woocommerce ul.products li.product .price ins,
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price {
color: #222;
text-decoration: none;
}
.woocommerce div.product p.price,
.woocommerce div.product p.price ins,
.woocommerce div.product p.price del {
font-size: 1.2rem;
font-family: 'Lato', sans-serif;
}
.woocommerce ul.products li.product .price del,
.woocommerce ul.products li.product .price ins,
.woocommerce ul.products li.product .price {
font-size: .9rem;
font-family: 'Lato', sans-serif;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price {
font-weight: 700;
}
.woocommerce div.product {
overflow: hidden;
}
.woocommerce .quantity .qty {
height: 23px;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
opacity: .8;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce .widget_price_filter .price_slider_amount .button {
font-family: 'Lato', sans-serif;
font-size: .7rem;
font-weight: 700;
line-height: 100%;
padding: 9px 25px;
text-transform: uppercase;
}
.woocommerce div.product form.cart div.quantity {
margin-right: 10px;
}
.woocommerce .product_meta {
font-size: .8rem;
}
.woocommerce span.onsale {
border-radius: 0;
font-family: 'Lato', sans-serif;
font-weight: 700;
line-height: 100%;
padding: 30px 35px 8px;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: -10px;
left: -35px;
min-width: 0;
min-height: 0;
}
.woocommerce ul.products li.product .onsale {
top: -5px;
left: -35px;
right: auto;
}
.woocommerce ul.products li.product h3 {
font-size: 1.1rem;
font-weight: 400;
line-height: 120%;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
overflow: hidden;
}
.woocommerce ul.products li.product .add_to_cart_button {
display: none;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
float: left;
margin: 10px 0 20px;
width: 100%;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
margin-left: 10px;
width: 60px;
}
.woocommerce ul.product_list_widget span.product-title,
.woocommerce ul.product_list_widget li a {
font-size: .75rem;
margin-bottom: 5px;
}
.woocommerce ul.product_list_widget li a.remove {
font-size: 1.5rem;
}
.woocommerce ul.product_list_widget span.quantity,
.woocommerce ul.product_list_widget span.amount {
font-size: .8rem;
text-decoration: none !important;
}
.woocommerce ul.product_list_widget del {
margin-right: 5px;
}
.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
border-top: 1px solid #ddd;
font-size: .9em;
line-height: 100%;
margin-top: 10px;
padding: 10px 0;
text-align: center;
}
.woocommerce .sidebar-widget a {
color: #222;
}
.woocommerce .sidebar-widget p.buttons a,
.woocommerce .sidebar-widget p.buttons a:hover {
color: #222;
}
.widget_shopping_cart_content {
float: left;
}
.woocommerce .sidebar-widget select {
width: 100%;
}
.woocommerce #woo-content select,
.woocommerce #sidebar-wrap select,
.woocommerce #woo-content div.product form.cart .variations select,
.woocommerce-page #woo-content div.product form.cart .variations select,
.woocommerce #woo-content div.product form.cart .variations select,
.woocommerce-page #woo-content div.product form.cart .variations select,
.woocommerce #woo-content .woocommerce-ordering select,
.woocommerce-page #woo-content .woocommerce-ordering select,
.woocommerce #woo-content form .form-row select,
.woocommerce-page #woo-content form .form-row select,
.widget_product_categories select#dropdown_product_cat {
padding: 5px;
background: #fff;
border: 1px solid #DDD;
color: #888;
font-size: 12px;
text-transform: uppercase;
}
.woocommerce #sidebar-wrap select {
padding: 5px 2%;
width: 95.6%;
}
.woocommerce .related h2,
.woocommerce div.product .woocommerce-tabs .panel h2 {
color: #222;
font-size: 1.1rem;
font-weight: 700;
line-height: 100%;
margin-bottom: 15px;
position: relative;
}
.woocommerce .related h2 {
margin-bottom: 30px;
}
.woocommerce-review-link {
font-family: 'Lato', sans-serif;
font-size: .75rem;
font-weight: 400;
}
.woocommerce .star-rating {
margin-bottom: 5px;
}
.woocommerce .widget_top_rated_products ul.product_list_widget li {
border-top: 1px solid #ddd;
margin: 15px 0 0 0;
padding: 15px 0 0 0;
}
.woocommerce .widget_top_rated_products ul.product_list_widget li:first-child {
border-top: none;
margin: 0;
padding: 0;
}
#woo-content p.woocommerce-result-count {
font-family: 'Lato', sans-serif;
font-size: .8rem;
font-weight: 400;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
border-top-left-radius: 0;
border-top-right-radius: 0;
box-shadow: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:before {
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
border-width: 0;
box-shadow: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
font-family: 'Lato', sans-serif;
font-size: .8rem;
font-weight: 400;
}
.woocommerce #content div.product .woocommerce-tabs,
.woocommerce div.product .woocommerce-tabs,
.woocommerce-page #content div.product .woocommerce-tabs,
.woocommerce-page div.product .woocommerce-tabs {
border-bottom: 1px solid #ddd;
margin-bottom: 30px;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
background: none;
border: none;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
overflow: hidden;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
font-size: .8rem;
font-weight: 400;
}
.woocommerce div.product .woocommerce-tabs .panel {
margin-bottom: 30px;
} #foot-ad-wrap {
background: #eee;
line-height: 0;
margin-top: 15px;
text-align: center;
width: 100%;
}
footer#foot-wrap {
background: #444;
margin-top: 50px;
width: 100%;
}
#foot-top-wrap {
width: 100%;
}
#foot-widget-wrap {
margin: 50px 0 20px -2.16919739696%; width: 102.16919739696%; }
h3.foot-head {
color: #fff;
float: left;
font-family: 'Montserrat', sans-serif;
font-size: 1rem;
font-weight: 700;
line-height: 100%;
margin-bottom: 15px;
text-transform: uppercase;
width: 100%;
}
.foot-widget {
color: #777;
font-size: .9rem;
font-weight: 400;
line-height: 130%;
margin: 0 0 30px 2.12314225053%; width: 31.2101910828%; }
.foot-widget p {
margin-bottom: 15px;
}
.foot-logo {
line-height: 0;
margin-bottom: 20px;
width: 100%;
}
.foot-info-text {
margin-bottom: 10px;
width: 100%;
}
.foot-soc {
width: 100%;
}
ul.foot-soc-list {
width: 100%;
}
ul.foot-soc-list li {
float: left;
width: 30px;
}
ul.foot-soc-list li a {
color: #777;
}
ul.foot-soc-list li a:hover {
color: #fff;
}
ul.foot-soc-list li i {
font-size: 20px;
}
.tag-cloud {
float: left;
width: 100%;
}
.tag-cloud a {
background: #555;
color: #999;
float: left;
font-family: 'Montserrat', sans-serif;
font-size: .5rem;
font-weight: 700;
line-height: 100%;
margin: 0 5px 5px 0;
padding: 5px 7px;
text-transform: uppercase;
}
.tag-cloud a:visited {
color: #999;
}
.tag-cloud a:hover {
background: #777;
color: #fff;
}
#foot-bot-wrap {
background: #333;
width: 100%;
}
#foot-bot {
margin: 10px 0;
width: 100%;
}
.foot-menu {
float: right;
max-width: 49%;
}
.foot-menu .menu {
float: right;
width: 100%;
}
.foot-menu .menu li {
float: left;
margin-left: 20px;
}
.foot-menu .menu li:first-child {
margin-left: 0;
}
.foot-menu .menu li a {
color: #999;
font-size: .7rem;
font-weight: 400;
line-height: 100%;
text-transform: uppercase;
}
.foot-menu .menu li a:visited {
color: #999;
}
.foot-menu .menu li a:hover {
color: #fff;
}
.foot-menu .menu li ul {
display: none;
}
.foot-copy {
float: left;
max-width: 49%;
}
.foot-copy p {
color: #777;
font-size: .7rem;
font-weight: 400;
line-height: 130%;
} .nav-links {
float: left;
margin-top: 20px;
position: relative;
width: 100%;
}
.pagination {
clear: both;
display: inline-block;
position: relative;
font-size: .8rem;
font-weight: 700;
line-height: 100%;
padding: 0;
text-transform: uppercase;
}
.pagination span, .pagination a {
background: #fff;
border: 1px solid #aaa;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
color: #aaa;
display: block;
float: left;
font-family: 'Montserrat', sans-serif;
font-size: .8rem;
font-weight: 400;
margin: 2px 5px 2px 0;
padding: 9px 12px 8px;
text-decoration: none;
width: auto;
}
.pagination .current,
.pagination a:hover {
background: #aaa;
color: #fff;
}
.pagination a,
.pagination a:visited {
color: #aaa;
}
a.inf-more-but {
background: #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
display: inline-block;
font-family: 'Montserrat', sans-serif;
font-size: .8rem;
font-weight: 700;
margin: 20px auto 0;
padding: 8px 0;
text-align: center;
text-transform: uppercase;
width: 99%;
}
a.inf-more-but:hover {
color: #fff !important;
}
#infscr-loading {
color: #bbb;
float: left;
font-size: .8rem;
font-weight: 400;
line-height: 100%;
margin-bottom: 20px;
text-align: center;
text-transform: uppercase;
width: 100%;
}
#infscr-loading img {
display: none;
}
#infscr-loading em {
float: left;
width: 100%;
}
.paginate-links {
display: none;
}